Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli

[backup] put db-backup-verify cli tool to the tools image
  docker/tools/Dockerfile
Owners: none

[backup] db-backup-verify cli tool
  storage/backup/backup-cli/src/backup_types/epoch_ending/restore.rs
  storage/backup/backup-cli/src/bin/db-backup-verify.rs
  storage/backup/backup-cli/src/coordinators/mod.rs
  storage/backup/backup-cli/src/coordinators/verify.rs
  testsuite/smoke-test/src/storage.rs
Owners: none

[move-prover][move framework] Libra.move cleanup
  language/stdlib/modules/Libra.move
  language/stdlib/modules/RegisteredCurrencies.move
  language/stdlib/modules/doc/Libra.md
  language/stdlib/modules/doc/RegisteredCurrencies.md
Owners: none

[libra framework] Add `0x1` as a reserved address.
  language/move-lang/functional-tests/tests/libra/libra_account/create_reserved.move
  language/stdlib/compiled/error_descriptions/error_descriptions.errmap
  language/stdlib/compiled/stdlib/003_CoreAddresses.mv
  language/stdlib/compiled/stdlib/035_LibraAccount.mv
  language/stdlib/modules/CoreAddresses.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/doc/CoreAddresses.md
  language/stdlib/modules/doc/LibraAccount.md
Owners: none

[json-rpc] expose created address for CreateAccountEvent
  json-rpc/API-CHANGELOG.md
  json-rpc/docs/type_event.md
  json-rpc/tests/integration_test.rs
  json-rpc/types/src/views.rs
  types/src/account_config/events/create_account.rs
  types/src/contract_event.rs
Owners: @thefallentree, @xli

[libra framework] Add a top level README for the Libra Framework
  language/stdlib/README.md
  language/stdlib/modules/doc/overview.md
  language/stdlib/modules/overview_template.md
  language/stdlib/src/lib.rs
  language/stdlib/transaction_scripts/doc/transaction_script_documentation.md
  language/stdlib/transaction_scripts/transaction_script_documentation_template.md
Owners: none

[network] Sample eligible peers used for connections
  network/src/connectivity_manager/mod.rs
Owners: none

[network] Remove logging entire eligible peers on changes
  network/src/connectivity_manager/mod.rs
Owners: none

[move-prover] Using new Boogie `{:print}` feature for obtaining model values.
  language/move-prover/src/boogie_helpers.rs
  language/move-prover/src/boogie_wrapper.rs
  language/move-prover/src/bytecode_translator.rs
  language/move-prover/src/cli.rs
  language/move-prover/src/prelude.bpl
  language/move-prover/tests/sources/functional/arithm.exp
  language/move-prover/tests/sources/functional/cast.exp
Owners: none

Upper case hex for address display/debug
  client/faucet/src/main.rs
  json-rpc/tests/integration_test.rs
  language/move-core/types/src/account_address.rs
  language/move-lang/functional-tests/tests/epilogue/out_of_gas_in_module.move
  language/move-lang/functional-tests/tests/epilogue/out_of_gas_in_nested_module.move
  language/move-lang/functional-tests/tests/epilogue/out_of_gas_recursive.move
  language/move-lang/src/shared/mod.rs
  language/move-lang/tests/move_check/parser/use_with_main.exp
  language/tools/move-cli/tests/testsuite/events_emit_view/args.exp
  language/tools/move-cli/tests/testsuite/events_emit_view/args.txt
  language/tools/move-cli/tests/testsuite/libra_smoke/args.exp
  language/tools/move-cli/tests/testsuite/module_run_view/args.exp
  language/tools/move-cli/tests/testsuite/module_run_view/args.txt
Owners: @thefallentree, @xli

Removing instances of unwrap or unreachable macros inside functions of type result
  Cargo.lock
  common/logger/src/struct_log.rs
  crypto/crypto/src/multi_ed25519.rs
  network/memsocket/Cargo.toml
  network/memsocket/src/lib.rs
Owners: @kchalkias, @huitseeker, @valerini

[move source language] Check for overlapping targets/deps
  language/move-lang/src/lib.rs
Owners: none

ran cargo x lint and fmt
  crypto/crypto/src/multi_ed25519.rs
Owners: @kchalkias, @huitseeker, @valerini

[move-prover][move language] Cleaned up comments for RegisteredCurrencies.move
  language/stdlib/modules/RegisteredCurrencies.move
  language/stdlib/modules/doc/RegisteredCurrencies.md
Owners: none

[json-rpc] misc clean up and add tests
  json-rpc/src/tests/unit_tests.rs
  json-rpc/tests/integration_test.rs
  json-rpc/types/src/views.rs
  types/src/block_metadata.rs
Owners: @thefallentree, @xli

[network] Add ability to increment counter with networkcontext
  network/src/counters.rs
Owners: none

[network] Added error metrics for bad requests DS/RPC
  network/src/counters.rs
  network/src/peer/mod.rs
  network/src/protocols/direct_send/mod.rs
  network/src/protocols/rpc/mod.rs
Owners: none

[network] add on chain discovery metrics
  network/simple-onchain-discovery/src/lib.rs
Owners: none

add vm script hash allow list to get_metadata response
  json-rpc/src/methods.rs
  json-rpc/src/tests/unit_tests.rs
  json-rpc/tests/integration_test.rs
  json-rpc/types/src/views.rs
  types/src/account_state.rs
Owners: @thefallentree, @xli

[specifications] add a preliminary spec for the Move Adapter and VM
  specifications/README.md
  specifications/images/move_adapter.png
  specifications/move_adapter/README.md
Owners: none

Fix typo in docker-compose command
  docker/compose/README.md
Owners: none

[libra-framework][breaking] Change reconfiguration rule
  language/ir-testsuite/tests/libra/reconfiguration/reconfiguration.mvir
  language/move-lang/functional-tests/tests/libra/reconfiguration/reconfiguration.move
  language/move-lang/functional-tests/tests/libra/validator_set/multiple_reconfigurations_at_once.move
  language/move-lang/functional-tests/tests/libra/validator_set/reconfigure_twice_in_transaction.move
  language/stdlib/compiled/stdlib/013_LibraConfig.mv
  language/stdlib/modules/LibraConfig.move
  language/stdlib/modules/doc/LibraConfig.md
Owners: none

[tooling] Added a network checking tool for noise endpoints
  config/management/operational/src/command.rs
  config/management/operational/src/lib.rs
  config/management/operational/src/network_checker.rs
Owners: none

reverting changes in network/memsocket/*
  Cargo.lock
  common/logger/src/struct_log.rs
  network/memsocket/Cargo.toml
  network/memsocket/src/lib.rs
Owners: none

[cluster-test] periodic stat aggregator for CT run especially for longevity test with longer period
  testsuite/cluster-test/src/experiments/performance_benchmark.rs
  testsuite/cluster-test/src/main.rs
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[Smoke Test] Remove e2e_reconfiguration test
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none

[Smoke Test] Clean up the test_e2e_reconfiguration test.
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none

[Smoke Test] Re-order smoke tests in operational tooling to be alphabetical.
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none

[Smoke Tests] Clean up duplicate backend storage helper functions.
  testsuite/smoke-test/src/operational_tooling.rs
  testsuite/smoke-test/src/test_utils.rs
Owners: none

[mempool] deprecate OP_COUNTERS
  mempool/src/core_mempool/mempool.rs
  mempool/src/counters.rs
  mempool/src/lib.rs
  types/src/mempool_status.rs
Owners: none

[mempool] logging/counters round 2
  common/metrics/src/lib.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/shared_mempool/tasks.rs
Owners: none

[mempool] more/updated logging/counters
  mempool/src/core_mempool/mempool.rs
  mempool/src/counters.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/shared_mempool/tasks.rs
Owners: none

[safety-rules] log internal state at startup
  consensus/safety-rules/src/remote_service.rs
Owners: none

[safety-rules] log panic backtraces
  consensus/safety-rules/Cargo.toml
  consensus/safety-rules/src/main.rs
Owners: none

[safety-rules] log config
  consensus/safety-rules/src/main.rs
  libra-node/src/lib.rs
Owners: none

[safety-rules] log all internal state during consensus_state queries
  Cargo.lock
  consensus/safety-rules/src/logging.rs
  consensus/safety-rules/src/safety_rules.rs
Owners: none

[Smoke Test] Add smoke test for operational tooling: set_validator_config and validator_config
  config/management/operational/src/test_helper.rs
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none

[Smoke Test] Add smoke test for operational tooling: validator_set
  config/management/operational/src/test_helper.rs
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none

[Smoke Test] Add smoke test for operational tooling: print_account
  config/management/operational/src/test_helper.rs
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none

[Smoke Test] Add smoke test for operational tooling: account-resource
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none
