Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

[mempool] update retry flag in ACK from Vec<u64> to bool
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/shared_mempool/tasks.rs
Owners: none

[mempool] migrate broadcast execution to peer manager
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/shared_mempool/tasks.rs
Owners: none

[mempool] add retry for un'ACKed broadcasts
  config/src/config/mempool_config.rs
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/tests/core_mempool_test.rs
  mempool/src/tests/fuzzing.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/shared_mempool_test.rs
Owners: none

[clippy] warn on non-checked integer arithemtic
  x.toml
Owners: none

[network] purge deprecated gossip discovery protocol
  config/src/config/mod.rs
  config/src/config/network_config.rs
  config/src/generator.rs
  network/builder/src/builder.rs
  network/src/connectivity_manager/mod.rs
  network/src/connectivity_manager/test.rs
  network/src/protocols/gossip_discovery/builder.rs
  network/src/protocols/gossip_discovery/mod.rs
  network/src/protocols/gossip_discovery/test.rs
  network/src/protocols/mod.rs
Owners: none

[state sync] remove gossip discovery dependency from integration_tests
  Cargo.lock
  state-synchronizer/Cargo.toml
  state-synchronizer/src/tests/fuzzing.rs
  state-synchronizer/src/tests/helpers.rs
  state-synchronizer/src/tests/integration_tests.rs
Owners: none

[network] fix periodic connected peers log
  network/src/peer_manager/mod.rs
Owners: none

[consensus] add error types
  consensus/src/consensusdb/mod.rs
  consensus/src/epoch_manager.rs
  consensus/src/error.rs
  consensus/src/lib.rs
  consensus/src/persistent_liveness_storage.rs
  consensus/src/round_manager.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  consensus/src/test_utils/mock_state_computer.rs
  consensus/src/test_utils/mock_txn_manager.rs
  consensus/src/txn_manager.rs
Owners: none

export u32 crypto feature
  crypto/crypto/Cargo.toml
  crypto/crypto/src/ed25519.rs
  crypto/crypto/src/lib.rs
  crypto/crypto/src/multi_ed25519.rs
  crypto/crypto/src/unit_tests/ed25519_test.rs
  crypto/crypto/src/x25519.rs
Owners: @kchalkias, @huitseeker, @valerini

export u32 crypto feature
  crypto/crypto/src/ed25519.rs
Owners: @kchalkias, @huitseeker, @valerini

[state sync] add fault-injection
  Cargo.lock
  libra-node/Cargo.toml
  state-synchronizer/Cargo.toml
  state-synchronizer/src/coordinator.rs
  testsuite/cluster-test/src/cluster_swarm/configs/validator.yaml
  testsuite/cluster-test/src/health/fullnode_check.rs
  testsuite/cluster-test/src/main.rs
Owners: none

[xtest] no fail fast, and lcov support
  .circleci/config.yml
  devtools/x/src/test.rs
  scripts/coverage_report.sh
Owners: @libra/libra-oss-admin-team

[doc] update test coverage move language documentation
  .circleci/config.yml
  language/move-prover/tests/README.md
Owners: @libra/libra-oss-admin-team

[backup] backup coordinator: epoch ending before other types
  storage/backup/backup-cli/src/backup_types/epoch_ending/restore.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
Owners: none

[backup] backup coordinator: always use 1 as epoch ending backup batch size
  storage/backup/backup-cli/src/coordinators/backup.rs
Owners: none

[backup] backup coordinator: new strategy for txn batching
  storage/backup/backup-cli/src/coordinators/backup.rs
Owners: none

[backup] db-backup-verify cli tool
  storage/backup/backup-cli/src/backup_types/epoch_ending/restore.rs
  storage/backup/backup-cli/src/bin/db-backup-verify.rs
  storage/backup/backup-cli/src/coordinators/mod.rs
  storage/backup/backup-cli/src/coordinators/verify.rs
  testsuite/smoke-test/src/storage.rs
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[backup] put db-backup-verify cli tool to the tools image
  docker/tools/Dockerfile
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[libra framework] clean up VASP and other modules
  language/stdlib/modules/VASP.move
  language/stdlib/modules/ValidatorOperatorConfig.move
  language/stdlib/modules/doc/VASP.md
  language/stdlib/modules/doc/ValidatorOperatorConfig.md
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[backup] backup coordinator: new strategy for txn batching
  storage/backup/backup-cli/src/coordinators/backup.rs
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[consensus] continue running network task event loop on NetworkError
  common/logger/src/security.rs
  consensus/src/network.rs
  consensus/src/network_tests.rs
Owners: none

[network] refactor network events to just drop and log bad messages
  common/logger/src/security.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/round_manager_test.rs
  mempool/src/shared_mempool/coordinator.rs
  network/benches/network_bench.rs
  network/builder/src/dummy.rs
  network/builder/src/test.rs
  network/src/error.rs
  network/src/protocols/health_checker/mod.rs
  network/src/protocols/network/mod.rs
  state-synchronizer/src/coordinator.rs
  state-synchronizer/src/counters.rs
  testsuite/cluster-test/src/experiments/load_test.rs
Owners: none

[network] remove unnecessary tuple from `Event` enum variants
  consensus/src/network.rs
  consensus/src/round_manager_test.rs
  mempool/src/shared_mempool/coordinator.rs
  network/benches/network_bench.rs
  network/builder/src/test.rs
  network/src/protocols/health_checker/mod.rs
  network/src/protocols/network/mod.rs
  state-synchronizer/src/coordinator.rs
  testsuite/cluster-test/src/experiments/load_test.rs
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[language][vm] remove Default impl for MoveVM
  language/move-vm/runtime/src/move_vm.rs
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[move-prover][move framework] Specs for more validator transactions
  client/transaction-builder/src/stdlib.rs
  language/stdlib/compiled/transaction_scripts/abi/add_validator_and_reconfigure.abi
  language/stdlib/compiled/transaction_scripts/abi/remove_validator_and_reconfigure.abi
  language/stdlib/compiled/transaction_scripts/abi/set_validator_config_and_reconfigure.abi
  language/stdlib/compiled/transaction_scripts/abi/set_validator_operator_with_nonce_admin.abi
  language/stdlib/modules/LibraConfig.move
  language/stdlib/modules/LibraSystem.move
  language/stdlib/modules/ValidatorConfig.move
  language/stdlib/modules/doc/LibraConfig.md
  language/stdlib/modules/doc/LibraSystem.md
  language/stdlib/modules/doc/ValidatorConfig.md
  language/stdlib/transaction_scripts/add_validator_and_reconfigure.move
  language/stdlib/transaction_scripts/doc/overview.md
  language/stdlib/transaction_scripts/remove_validator_and_reconfigure.move
  language/stdlib/transaction_scripts/set_validator_config_and_reconfigure.move
  language/stdlib/transaction_scripts/set_validator_operator.move
  language/stdlib/transaction_scripts/set_validator_operator_with_nonce_admin.move
Owners: @thefallentree, @xli

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[vm] adjust name of block size metric and improve some metric descriptions
  language/libra-vm/src/counters.rs
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

Add appropriate message on site deploy as we are not running CI on the actual `gh-pages` branch
  .github/workflows/developer-site-deploy.yml
Owners: @libra/libra-oss-admin-team

[vm] fix off-by-1 error in PC reported in aborting instructions
  language/ir-testsuite/tests/testing_infra/show_all_optional_info.exp
  language/move-lang/functional-tests/tests/testing-infra/show_all_optional_info.exp
  language/move-vm/runtime/src/interpreter.rs
  language/tools/move-cli/tests/metatests/args.exp
  language/tools/move-cli/tests/testsuite/explain_arithmetic_failure/args.exp
  language/tools/move-cli/tests/testsuite/explain_missing_resource/args.exp
  language/tools/move-cli/tests/testsuite/explain_resource_already_exists/args.exp
  language/tools/move-cli/tests/testsuite/gas_metering/args.exp
  language/tools/move-cli/tests/testsuite/print_stack_trace/args.exp
  language/tools/move-cli/tests/testsuite/print_stack_trace/args.txt
  language/tools/move-cli/tests/testsuite/print_stack_trace/move_src/modules/M.move
  language/tools/move-cli/tests/testsuite/print_stack_trace/move_src/modules/N.move
  language/tools/move-cli/tests/testsuite/print_stack_trace/move_src/scripts/script.move
Owners: none

[libra-framework][breaking] Change reconfiguration rule
  language/libra-vm/src/libra_transaction_executor.rs
  language/move-lang/functional-tests/tests/libra/reconfiguration/reconfiguration.move
  language/move-lang/functional-tests/tests/libra/validator_set/multiple_reconfigurations_at_once.move
  language/move-lang/functional-tests/tests/libra/validator_set/reconfigure_twice_in_block.move
  language/stdlib/compiled/stdlib/014_LibraConfig.mv
  language/stdlib/modules/LibraConfig.move
  language/stdlib/modules/doc/LibraConfig.md
Owners: none

[safety-rules] add latency metrics
  common/metrics-core/src/lib.rs
  consensus/safety-rules/src/counters.rs
  consensus/safety-rules/src/persistent_safety_storage.rs
  consensus/safety-rules/src/safety_rules.rs
  consensus/safety-rules/src/serializer.rs
  secure/push-metrics/src/lib.rs
Owners: none

[libra framework] Update some transaction docs
  client/transaction-builder/src/stdlib.rs
  language/stdlib/compiled/transaction_scripts/abi/add_to_script_allow_list.abi
  language/stdlib/compiled/transaction_scripts/abi/add_validator_and_reconfigure.abi
  language/stdlib/compiled/transaction_scripts/abi/burn.abi
  language/stdlib/compiled/transaction_scripts/abi/cancel_burn.abi
  language/stdlib/compiled/transaction_scripts/abi/create_child_vasp_account.abi
  language/stdlib/compiled/transaction_scripts/abi/create_designated_dealer.abi
  language/stdlib/compiled/transaction_scripts/abi/create_parent_vasp_account.abi
  language/stdlib/compiled/transaction_scripts/abi/create_validator_account.abi
  language/stdlib/compiled/transaction_scripts/abi/create_validator_operator_account.abi
  language/stdlib/compiled/transaction_scripts/abi/freeze_account.abi
  language/stdlib/compiled/transaction_scripts/abi/remove_validator_and_reconfigure.abi
  language/stdlib/compiled/transaction_scripts/abi/rotate_authentication_key_with_nonce.abi
  language/stdlib/compiled/transaction_scripts/abi/rotate_authentication_key_with_nonce_admin.abi
  language/stdlib/compiled/transaction_scripts/abi/set_validator_operator_with_nonce_admin.abi
  language/stdlib/compiled/transaction_scripts/abi/tiered_mint.abi
  language/stdlib/compiled/transaction_scripts/abi/unfreeze_account.abi
  language/stdlib/compiled/transaction_scripts/abi/update_dual_attestation_limit.abi
  language/stdlib/compiled/transaction_scripts/abi/update_exchange_rate.abi
  language/stdlib/compiled/transaction_scripts/abi/update_libra_version.abi
  language/stdlib/transaction_scripts/add_to_script_allow_list.move
  language/stdlib/transaction_scripts/add_validator_and_reconfigure.move
  language/stdlib/transaction_scripts/burn.move
  language/stdlib/transaction_scripts/cancel_burn.move
  language/stdlib/transaction_scripts/create_child_vasp_account.move
  language/stdlib/transaction_scripts/create_designated_dealer.move
  language/stdlib/transaction_scripts/create_parent_vasp_account.move
  language/stdlib/transaction_scripts/create_validator_account.move
  language/stdlib/transaction_scripts/create_validator_operator_account.move
  language/stdlib/transaction_scripts/doc/overview.md
  language/stdlib/transaction_scripts/freeze_account.move
  language/stdlib/transaction_scripts/remove_validator_and_reconfigure.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce_admin.move
  language/stdlib/transaction_scripts/set_validator_operator_with_nonce_admin.move
  language/stdlib/transaction_scripts/tiered_mint.move
  language/stdlib/transaction_scripts/unfreeze_account.move
  language/stdlib/transaction_scripts/update_dual_attestation_limit.move
  language/stdlib/transaction_scripts/update_exchange_rate.move
  language/stdlib/transaction_scripts/update_libra_version.move
Owners: @thefallentree, @xli

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli
