Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

[move-vm-types]: remove dependency on libra-types
  Cargo.lock
  language/e2e-testsuite/src/tests/verify_txn.rs
  language/move-core/types/src/gas_schedule.rs
  language/move-vm/types/Cargo.toml
  language/move-vm/types/src/gas_schedule.rs
  language/move-vm/types/src/loaded_data/runtime_types.rs
  language/move-vm/types/src/values/values_impl.rs
  types/src/transaction/mod.rs
  vm-validator/Cargo.toml
  vm-validator/src/unit_tests/vm_validator_test.rs
Owners: none

[json-rpc] endpoint and method processing log
  json-rpc/Cargo.toml
  json-rpc/src/methods.rs
  json-rpc/src/runtime.rs
Owners: @thefallentree, @xli

address comments
  json-rpc/src/runtime.rs
Owners: none

use full qualified name for log macro
  json-rpc/src/runtime.rs
Owners: none

[language] use system temp dir in interface generator
  Cargo.lock
  language/move-lang/Cargo.toml
  language/move-lang/src/lib.rs
Owners: none

[Smoke Tests] Update and clean up key manager smoke test.
  testsuite/smoke-test/src/key_manager.rs
Owners: none

[metrics] add a common metrics crate
  Cargo.lock
  Cargo.toml
  common/metrics-core/Cargo.toml
  common/metrics-core/src/lib.rs
  common/metrics/Cargo.toml
  common/metrics/src/lib.rs
  secure/push-metrics/Cargo.toml
  secure/push-metrics/src/lib.rs
Owners: none

[language] add corrupted VM storage tests
  Cargo.lock
  Cargo.toml
  language/move-vm/integration-tests/Cargo.toml
  language/move-vm/integration-tests/src/compiler.rs
  language/move-vm/integration-tests/src/lib.rs
  language/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  language/move-vm/integration-tests/src/tests/loader_tests.rs
  language/move-vm/integration-tests/src/tests/loader_tests_modules.move
  language/move-vm/integration-tests/src/tests/mod.rs
  language/move-vm/runtime/src/unit_tests/modules.move
  language/move-vm/test-utils/src/effects.rs
  language/move-vm/test-utils/src/storage.rs
  x.toml
Owners: none

[dockerhub] always prune on image push to dockerhub
  .circleci/config.yml
  scripts/dockerhub_prune.sh
Owners: @libra/libra-oss-admin-team

[cluster-test] add gas price non zero test into nighty run
  testsuite/cluster-test/src/experiments/performance_benchmark.rs
  testsuite/cluster-test/src/suite.rs
Owners: none

[storage] add error counters and log for every LibraDB API
  storage/libradb/src/lib.rs
  storage/libradb/src/metrics.rs
Owners: none

[language] test logging
  language/benchmarks/src/move_vm.rs
  language/e2e-testsuite/src/tests/failed_transaction_tests.rs
  language/libra-vm/src/data_cache.rs
  language/libra-vm/src/errors.rs
  language/libra-vm/src/lib.rs
  language/libra-vm/src/libra_transaction_executor.rs
  language/libra-vm/src/libra_transaction_validator.rs
  language/libra-vm/src/libra_vm.rs
  language/libra-vm/src/logger.rs
  language/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  language/move-vm/integration-tests/src/tests/loader_tests.rs
  language/move-vm/runtime/src/data_cache.rs
  language/move-vm/runtime/src/debug.rs
  language/move-vm/runtime/src/interpreter.rs
  language/move-vm/runtime/src/loader.rs
  language/move-vm/runtime/src/native_functions.rs
  language/move-vm/runtime/src/runtime.rs
  language/move-vm/runtime/src/session.rs
  language/move-vm/runtime/src/tracing.rs
  language/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
  language/move-vm/types/src/lib.rs
  language/move-vm/types/src/logger.rs
  language/testing-infra/e2e-tests/src/executor.rs
  language/testing-infra/test-generation/src/lib.rs
  language/tools/move-cli/src/main.rs
  language/tools/transaction-replay/src/lib.rs
  language/tools/vm-genesis/src/lib.rs
Owners: none

[CI] add the missing branch env var for ECR push
  .circleci/config.yml
Owners: @libra/libra-oss-admin-team

[Logging] Avoiding possible DoS through logs
  mempool/src/shared_mempool/coordinator.rs
  network/src/protocols/health_checker/mod.rs
Owners: none

[language] move resource-viewer into language/tools
  Cargo.toml
  language/resource-viewer/Cargo.toml
  language/tools/genesis-viewer/Cargo.toml
  language/tools/move-cli/Cargo.toml
  language/tools/resource-viewer/Cargo.toml
  language/tools/resource-viewer/src/cached_access_path_table.rs
  language/tools/resource-viewer/src/fat_type.rs
  language/tools/resource-viewer/src/lib.rs
  language/tools/resource-viewer/src/module_cache.rs
  language/tools/resource-viewer/src/resolver.rs
  language/tools/transaction-replay/Cargo.toml
  testsuite/cli/Cargo.toml
Owners: none

[json-rpc] validate version params, return client error code instead of internal error code
  json-rpc/src/methods.rs
  json-rpc/src/tests/unit_tests.rs
Owners: @thefallentree, @xli

fix lint
  json-rpc/src/methods.rs
Owners: @thefallentree, @xli

enforce return JsonRpcError for parsing param util functions
  json-rpc/src/methods.rs
Owners: @thefallentree, @xli

[move-prover][stdlib] Abstract FixedPoint32, avoid non-linear arithmetics.
  language/move-lang/src/expansion/ast.rs
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/parser/ast.rs
  language/move-lang/src/parser/syntax.rs
  language/move-prover/spec-lang/src/translate.rs
  language/stdlib/modules/Authenticator.move
  language/stdlib/modules/DualAttestation.move
  language/stdlib/modules/FixedPoint32.move
  language/stdlib/modules/Genesis.move
  language/stdlib/modules/LBR.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/TransactionFee.move
  language/stdlib/modules/doc/Authenticator.md
  language/stdlib/modules/doc/DualAttestation.md
  language/stdlib/modules/doc/FixedPoint32.md
  language/stdlib/modules/doc/Genesis.md
  language/stdlib/modules/doc/LBR.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/TransactionFee.md
  language/stdlib/transaction_scripts/burn_txn_fees.move
  language/stdlib/transaction_scripts/doc/overview.md
  language/stdlib/transaction_scripts/mint_lbr.move
Owners: none

Post land - run cluster test pre-release suite
  .github/workflows/post-land.yml
Owners: @libra/libra-oss-admin-team

update boogie to 2.7.32 and small fix in dev-setup.sh
  scripts/dev_setup.sh
Owners: none

[Smoke Tests] Support a threading model for the key manager smoke test.
  Cargo.lock
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/key_manager.rs
Owners: none

Check the completeness of error code documents for transaction scripts
  language/stdlib/compiled/stdlib/010_AccountLimits.mv
  language/stdlib/modules/AccountLimits.move
  language/stdlib/modules/Libra.move
  language/stdlib/modules/doc/AccountLimits.md
  language/stdlib/modules/doc/Libra.md
  language/stdlib/transaction_scripts/add_recovery_rotation_capability.move
  language/stdlib/transaction_scripts/burn.move
  language/stdlib/transaction_scripts/cancel_burn.move
  language/stdlib/transaction_scripts/create_child_vasp_account.move
  language/stdlib/transaction_scripts/create_recovery_address.move
  language/stdlib/transaction_scripts/doc/overview.md
  language/stdlib/transaction_scripts/peer_to_peer_with_metadata.move
  language/stdlib/transaction_scripts/preburn.move
  language/stdlib/transaction_scripts/publish_shared_ed25519_public_key.move
  language/stdlib/transaction_scripts/rotate_authentication_key.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce_admin.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_recovery_address.move
  language/stdlib/transaction_scripts/rotate_dual_attestation_info.move
  language/stdlib/transaction_scripts/rotate_shared_ed25519_public_key.move
  language/stdlib/transaction_scripts/tiered_mint.move
  language/stdlib/transaction_scripts/update_exchange_rate.move
Owners: none

[cluster-test] add reusable account cretion and loading
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

change addr1 -> addr
  language/stdlib/modules/DualAttestation.move
  language/stdlib/modules/Libra.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/RecoveryAddress.move
  language/stdlib/modules/ValidatorConfig.move
  language/stdlib/modules/ValidatorOperatorConfig.move
  language/stdlib/modules/doc/DualAttestation.md
  language/stdlib/modules/doc/Libra.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/RecoveryAddress.md
  language/stdlib/modules/doc/ValidatorConfig.md
  language/stdlib/modules/doc/ValidatorOperatorConfig.md
Owners: none

update serde-generate to 0.15.0
  Cargo.lock
  common/libradoc/Cargo.toml
  language/transaction-builder/generator/Cargo.toml
Owners: none

[libra framework] move TransactionFee resource under treasury compliance account
  language/move-lang/functional-tests/tests/libra/libra/add_currency_to_system.move
  language/move-lang/functional-tests/tests/libra/transaction_fee/initialization.move
  language/stdlib/compiled/stdlib/026_TransactionFee.mv
  language/stdlib/compiled/stdlib/037_Genesis.mv
  language/stdlib/modules/Genesis.move
  language/stdlib/modules/TransactionFee.move
  language/stdlib/modules/doc/Genesis.md
  language/stdlib/modules/doc/TransactionFee.md
  language/tools/move-cli/tests/testsuite/libra_smoke/args.exp
  language/tools/move-cli/tests/testsuite/libra_smoke/genesis.move
Owners: none

[move-vm-types]: remove dependency on libra-types
  Cargo.lock
  language/e2e-testsuite/src/tests/verify_txn.rs
  language/move-core/types/src/gas_schedule.rs
  language/move-vm/types/Cargo.toml
  language/move-vm/types/src/gas_schedule.rs
  language/move-vm/types/src/loaded_data/runtime_types.rs
  language/move-vm/types/src/values/values_impl.rs
  types/src/transaction/mod.rs
  vm-validator/Cargo.toml
  vm-validator/src/unit_tests/vm_validator_test.rs
Owners: none

[move framework][move-prover] More validator-related specs, fixed timeouts.
  client/transaction-builder/src/stdlib.rs
  language/stdlib/compiled/error_descriptions/error_descriptions.errmap
  language/stdlib/compiled/stdlib/030_ValidatorOperatorConfig.mv
  language/stdlib/compiled/stdlib/036_LibraAccount.mv
  language/stdlib/compiled/transaction_scripts/abi/create_validator_account.abi
  language/stdlib/compiled/transaction_scripts/abi/create_validator_operator_account.abi
  language/stdlib/modules/DualAttestation.move
  language/stdlib/modules/Libra.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/LibraSystem.move
  language/stdlib/modules/RecoveryAddress.move
  language/stdlib/modules/Roles.move
  language/stdlib/modules/TransactionFee.move
  language/stdlib/modules/ValidatorConfig.move
  language/stdlib/modules/ValidatorOperatorConfig.move
  language/stdlib/modules/doc/DualAttestation.md
  language/stdlib/modules/doc/Libra.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/LibraSystem.md
  language/stdlib/modules/doc/RecoveryAddress.md
  language/stdlib/modules/doc/Roles.md
  language/stdlib/modules/doc/TransactionFee.md
  language/stdlib/modules/doc/ValidatorConfig.md
  language/stdlib/modules/doc/ValidatorOperatorConfig.md
  language/stdlib/transaction_scripts/create_validator_account.move
  language/stdlib/transaction_scripts/create_validator_operator_account.move
  language/stdlib/transaction_scripts/doc/overview.md
  language/stdlib/transaction_scripts/register_validator_config.move
Owners: @thefallentree, @xli

add policy tests for vault in different namespace
  secure/storage/src/tests/vault.rs
Owners: none

add policy tests for vault in different namespaces
  secure/storage/src/tests/vault.rs
Owners: none

[move-prover] Update installation instructions.
  language/move-prover/doc/user/install.md
Owners: none

[libra framework] add TransactionCertified pre condition and specify more scripts
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/VASP.move
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/VASP.md
  language/stdlib/transaction_scripts/add_currency_to_account.move
  language/stdlib/transaction_scripts/add_recovery_rotation_capability.move
  language/stdlib/transaction_scripts/burn.move
  language/stdlib/transaction_scripts/cancel_burn.move
  language/stdlib/transaction_scripts/create_child_vasp_account.move
  language/stdlib/transaction_scripts/create_designated_dealer.move
  language/stdlib/transaction_scripts/create_parent_vasp_account.move
  language/stdlib/transaction_scripts/create_recovery_address.move
  language/stdlib/transaction_scripts/create_validator_account.move
  language/stdlib/transaction_scripts/create_validator_operator_account.move
  language/stdlib/transaction_scripts/doc/overview.md
  language/stdlib/transaction_scripts/mint_lbr.move
  language/stdlib/transaction_scripts/peer_to_peer_with_metadata.move
  language/stdlib/transaction_scripts/preburn.move
  language/stdlib/transaction_scripts/publish_shared_ed25519_public_key.move
  language/stdlib/transaction_scripts/register_validator_config.move
  language/stdlib/transaction_scripts/rotate_authentication_key.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce_admin.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_recovery_address.move
  language/stdlib/transaction_scripts/rotate_dual_attestation_info.move
  language/stdlib/transaction_scripts/rotate_shared_ed25519_public_key.move
  language/stdlib/transaction_scripts/tiered_mint.move
  language/stdlib/transaction_scripts/update_exchange_rate.move
Owners: none

Update README.md
  developers.libra.org/README.md
Owners: none

add events tests
  json-rpc/src/methods.rs
  json-rpc/tests/integration_test.rs
  json-rpc/tests/testing.rs
  json-rpc/types/src/views.rs
Owners: @thefallentree, @xli

[json-rpc] add more tests
  json-rpc/src/tests/unit_tests.rs
  json-rpc/tests/integration_test.rs
  json-rpc/tests/testing.rs
  json-rpc/types/src/errors.rs
  json-rpc/types/src/response.rs
Owners: @thefallentree, @xli

update comment
  json-rpc/tests/integration_test.rs
Owners: none

remove unknown field module name
  json-rpc/types/src/views.rs
Owners: @thefallentree, @xli

updated doc
  json-rpc/API-CHANGELOG.md
  json-rpc/docs/type_event.md
Owners: none

[language] Structured logging in the VM
  Cargo.lock
  language/benchmarks/src/move_vm.rs
  language/e2e-testsuite/Cargo.toml
  language/e2e-testsuite/src/tests/failed_transaction_tests.rs
  language/libra-vm/src/data_cache.rs
  language/libra-vm/src/errors.rs
  language/libra-vm/src/lib.rs
  language/libra-vm/src/libra_transaction_executor.rs
  language/libra-vm/src/libra_transaction_validator.rs
  language/libra-vm/src/libra_vm.rs
  language/libra-vm/src/logging.rs
  language/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  language/move-vm/integration-tests/src/tests/loader_tests.rs
  language/move-vm/runtime/src/data_cache.rs
  language/move-vm/runtime/src/debug.rs
  language/move-vm/runtime/src/interpreter.rs
  language/move-vm/runtime/src/lib.rs
  language/move-vm/runtime/src/loader.rs
  language/move-vm/runtime/src/logging.rs
  language/move-vm/runtime/src/native_functions.rs
  language/move-vm/runtime/src/runtime.rs
  language/move-vm/runtime/src/session.rs
  language/move-vm/runtime/src/tracing.rs
  language/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
  language/testing-infra/e2e-tests/src/executor.rs
  language/testing-infra/test-generation/Cargo.toml
  language/testing-infra/test-generation/src/lib.rs
  language/tools/move-cli/src/main.rs
  language/tools/transaction-replay/src/lib.rs
  language/tools/vm-genesis/src/lib.rs
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli
