Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli

logger: include hostname in log events
  Cargo.lock
  common/logger/Cargo.toml
  common/logger/src/libra_logger.rs
Owners: none

[network] move proxy_protocol to netcore
  network/netcore/src/transport/mod.rs
  network/netcore/src/transport/proxy_protocol.rs
  network/src/protocols/wire/mod.rs
  network/src/transport.rs
Owners: none

[network] Add proxy protocol support
  network/src/protocols/wire/mod.rs
  network/src/protocols/wire/proxy_protocol.rs
Owners: none

[network] Add proxy protocol to network transport and config
  config/src/config/network_config.rs
  network/builder/src/builder.rs
  network/builder/src/dummy.rs
  network/src/peer_manager/builder.rs
  network/src/peer_manager/mod.rs
  network/src/transport.rs
  network/src/transport_tests.rs
  state-synchronizer/src/tests/integration_tests.rs
Owners: none

[cluster-test] Add load test framework which introduce ability to constrct load test with different components
  testsuite/cluster-test/src/lib.rs
  testsuite/cluster-test/src/load_test/mempool.rs
  testsuite/cluster-test/src/load_test/mod.rs
  testsuite/cluster-test/src/load_test/state_sync.rs
  testsuite/cluster-test/src/load_test/tx_emitter.rs
Owners: none

Cleanup
  language/stdlib/modules/AccountFreezing.move
  language/stdlib/modules/README.md
  language/stdlib/modules/doc/AccountFreezing.md
  language/stdlib/modules/doc/overview.md
  language/stdlib/modules/overview_template.md
Owners: none

[move source language] Improve path and hashing creation
  language/move-lang/src/lib.rs
Owners: none

[json-rpc] improve metrics: tag metrics with consistent label name
  json-rpc/src/counters.rs
  json-rpc/src/runtime.rs
  json-rpc/src/tests/unit_tests.rs
  json-rpc/types/src/errors.rs
Owners: @thefallentree, @xli

[json-rpc] enable integration test with test log in output
  json-rpc/tests/integration_test.rs
  json-rpc/tests/node.rs
Owners: none

fix lint
  json-rpc/tests/integration_test.rs
Owners: none

[move cli] a few small improvements
  language/tools/disassembler/src/disassembler.rs
  language/tools/move-cli/src/lib.rs
  language/tools/move-cli/src/main.rs
  language/tools/move-cli/tests/testsuite/events_emit_view/args.exp
  language/tools/move-cli/tests/testsuite/events_emit_view/args.txt
  language/tools/move-cli/tests/testsuite/explain_arithmetic_failure/args.exp
  language/tools/move-cli/tests/testsuite/module_run_view/args.exp
  language/tools/move-cli/tests/testsuite/module_run_view/args.txt
Owners: none

[move-cli] allow all tests in a directory to be run
  language/move-lang/src/lib.rs
  language/tools/move-cli/Cargo.toml
  language/tools/move-cli/src/main.rs
  language/tools/move-cli/src/test.rs
  language/tools/move-cli/tests/cli_testsuite.rs
  language/tools/move-cli/tests/metatests/args.exp
  language/tools/move-cli/tests/metatests/args.txt
  language/tools/move-cli/tests/metatests/dummy/test_1/args.exp
  language/tools/move-cli/tests/metatests/dummy/test_1/args.txt
  language/tools/move-cli/tests/metatests/dummy/test_2/args.exp
  language/tools/move-cli/tests/metatests/dummy/test_2/args.txt
Owners: none

update JSON-RPC doc
  json-rpc/json-rpc-spec.md
Owners: @thefallentree, @xli

[fuzzing] add json-rpc api methods fuzz targets
  Cargo.lock
  json-rpc/src/fuzzing.rs
  testsuite/libra-fuzzer/Cargo.toml
  testsuite/libra-fuzzer/src/fuzz_targets.rs
  testsuite/libra-fuzzer/src/fuzz_targets/json_rpc_service.rs
Owners: none

Updated the tags for the access control specs
  language/move-prover/doc/user/access-control.md
  language/stdlib/modules/AccountFreezing.move
  language/stdlib/modules/AccountLimits.move
  language/stdlib/modules/DualAttestation.move
  language/stdlib/modules/Libra.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/LibraSystem.move
  language/stdlib/modules/LibraTransactionPublishingOption.move
  language/stdlib/modules/LibraVMConfig.move
  language/stdlib/modules/LibraVersion.move
  language/stdlib/modules/Roles.move
  language/stdlib/modules/TransactionFee.move
  language/stdlib/modules/ValidatorConfig.move
  language/stdlib/modules/doc/AccountFreezing.md
  language/stdlib/modules/doc/DualAttestation.md
  language/stdlib/modules/doc/Libra.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/LibraSystem.md
  language/stdlib/modules/doc/LibraTransactionPublishingOption.md
  language/stdlib/modules/doc/LibraVMConfig.md
  language/stdlib/modules/doc/LibraVersion.md
  language/stdlib/modules/doc/Roles.md
  language/stdlib/modules/doc/TransactionFee.md
  language/stdlib/modules/doc/ValidatorConfig.md
Owners: none

fix lint
  json-rpc/types/src/errors.rs
Owners: @thefallentree, @xli

[json-rpc] mark client side error code correctly
  json-rpc/types/src/errors.rs
Owners: @thefallentree, @xli

Revert "[json-rpc] mark client side error code correctly"
  json-rpc/types/src/errors.rs
Owners: @thefallentree, @xli

whitelist internal errors
  json-rpc/src/runtime.rs
  json-rpc/types/src/errors.rs
Owners: @thefallentree, @xli

[move cli] add verbose arg
  language/tools/move-cli/src/main.rs
  language/tools/move-cli/tests/testsuite/compile_modules_and_scripts/args.exp
  language/tools/move-cli/tests/testsuite/compile_modules_and_scripts/args.txt
  language/tools/move-cli/tests/testsuite/events_emit_view/args.exp
  language/tools/move-cli/tests/testsuite/events_emit_view/args.txt
  language/tools/move-cli/tests/testsuite/explain_arithmetic_failure/args.exp
  language/tools/move-cli/tests/testsuite/explain_missing_resource/args.exp
  language/tools/move-cli/tests/testsuite/explain_resource_already_exists/args.exp
  language/tools/move-cli/tests/testsuite/explain_stdlib_abort/args.exp
  language/tools/move-cli/tests/testsuite/explain_user_module_abort/args.exp
  language/tools/move-cli/tests/testsuite/explain_user_tx_script_abort/args.exp
  language/tools/move-cli/tests/testsuite/gas_metering/args.exp
  language/tools/move-cli/tests/testsuite/libra_smoke/args.exp
  language/tools/move-cli/tests/testsuite/libra_smoke/args.txt
  language/tools/move-cli/tests/testsuite/module_publish_view/args.exp
  language/tools/move-cli/tests/testsuite/module_publish_view/args.txt
  language/tools/move-cli/tests/testsuite/module_run_view/args.exp
  language/tools/move-cli/tests/testsuite/module_run_view/args.txt
  language/tools/move-cli/tests/testsuite/script_check/args.exp
  language/tools/move-cli/tests/testsuite/script_check/args.txt
  language/tools/move-cli/tests/testsuite/script_run/args.exp
  language/tools/move-cli/tests/testsuite/script_run/args.txt
Owners: none

[json-rpc] CORS: allowing all origins for the interface
  json-rpc/src/runtime.rs
Owners: none

[json-rpc] adding test to see if CORS work
  json-rpc/src/tests/unit_tests.rs
Owners: none

debug
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[Consensus] Verify vote data earlier
  common/logger/src/security.rs
  consensus/consensus-types/src/vote.rs
Owners: none

[vm] Fix gauge to be a histogram for block transaction count
  language/libra-vm/src/counters.rs
  language/libra-vm/src/libra_transaction_executor.rs
Owners: none

[json-rpc] update the README
  json-rpc/README.md
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[genesis] disable test dd except for well known test chains
  language/tools/vm-genesis/src/lib.rs
Owners: none

Enabling Int Overflow Protection for Release Builds
  Cargo.toml
Owners: none

test
  config/src/config/consensus_config.rs
  testsuite/cluster-test/src/experiments/performance_benchmark.rs
Owners: none

[transaction-replay] Refactored out the api needed for communicating with validator nodes
  Cargo.lock
  Cargo.toml
  language/libra-tools/libra-validator-interface/Cargo.toml
  language/libra-tools/libra-validator-interface/src/json_rpc_interface.rs
  language/libra-tools/libra-validator-interface/src/lib.rs
  language/libra-tools/libra-validator-interface/src/storage_interface.rs
  language/libra-tools/transaction-replay/Cargo.toml
  language/libra-tools/transaction-replay/examples/account_exists.move
  language/libra-tools/transaction-replay/examples/time_exceeds.move
  language/libra-tools/transaction-replay/src/lib.rs
  language/libra-tools/transaction-replay/src/main.rs
  language/libra-tools/transaction-replay/src/unit_tests/bisection_tests.rs
  language/libra-tools/transaction-replay/src/unit_tests/mod.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/replay_tooling.rs
Owners: none

[deps] upgrade ureq
  .github/dependabot.yml
  Cargo.lock
  secure/json-rpc/Cargo.toml
  secure/push-metrics/Cargo.toml
  secure/storage/github/Cargo.toml
  secure/storage/vault/Cargo.toml
  testsuite/libra-fuzzer/Cargo.toml
Owners: @libra/libra-oss-admin-team

[Key Manager] Add new action types to better distinguish key manager states.
  secure/key-manager/src/lib.rs
  secure/key-manager/src/tests.rs
Owners: none

[Key Manager] Added some additional tests for failure cases.
  secure/key-manager/src/tests.rs
Owners: none

[Key Manager] Don't drop unexpected errors on evaluate_status().
  secure/key-manager/src/lib.rs
Owners: none

[Key Manager] Improve logging structure of code to be clearer in intent.
  secure/key-manager/src/counters.rs
  secure/key-manager/src/lib.rs
  secure/key-manager/src/logging.rs
Owners: none

a
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[move-cli] fix test runner
  language/tools/move-cli/Cargo.toml
  language/tools/move-cli/src/test.rs
  language/tools/move-cli/tests/cli_testsuite.rs
Owners: none

[mempool] change request_id from String to lcs byte array
  mempool/src/counters.rs
  mempool/src/shared_mempool/network.rs
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/shared_mempool/tasks.rs
  testsuite/cluster-test/src/experiments/load_test.rs
Owners: none
