Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

[Smoke Test] Add smoke test for operational tooling: extract_private_key
  config/management/operational/src/test_helper.rs
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none

[Smoke Test] Add smoke test for operational tooling: validate_transaction
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none

[Smoke Test] Add smoke test for operational tooling: extract_public_key
  config/management/operational/src/test_helper.rs
  testsuite/smoke-test/src/operational_tooling.rs
Owners: none

[network] Add Proxied address to inbound upgrade errors
  network/src/transport.rs
Owners: none

vfn failover ct
  testsuite/cluster-test/src/experiments/mod.rs
  testsuite/cluster-test/src/experiments/vfn_failover_test.rs
Owners: none

[language] Fault injection
  Cargo.lock
  execution/executor/Cargo.toml
  language/libra-vm/Cargo.toml
  language/libra-vm/src/data_cache.rs
  language/libra-vm/src/libra_transaction_executor.rs
  language/libra-vm/src/libra_vm.rs
  language/move-vm/runtime/Cargo.toml
  language/move-vm/runtime/src/interpreter.rs
Owners: none

[move-prover][move framework] LibraVersion Cleanup
  language/stdlib/modules/LibraVersion.move
  language/stdlib/modules/doc/LibraVersion.md
Owners: none

[move-prover][move framework] Vector cleanup
  language/stdlib/modules/Vector.move
  language/stdlib/modules/doc/Vector.md
Owners: none

Verified the error code completeness of the txn scripts
  language/stdlib/transaction_scripts/add_recovery_rotation_capability.move
  language/stdlib/transaction_scripts/add_validator_and_reconfigure.move
  language/stdlib/transaction_scripts/burn.move
  language/stdlib/transaction_scripts/create_recovery_address.move
  language/stdlib/transaction_scripts/doc/transaction_script_documentation.md
  language/stdlib/transaction_scripts/remove_validator_and_reconfigure.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce_admin.move
  language/stdlib/transaction_scripts/set_validator_config_and_reconfigure.move
  language/stdlib/transaction_scripts/set_validator_operator.move
Owners: none

updated error message
  crypto/crypto/src/multi_ed25519.rs
Owners: @kchalkias, @huitseeker, @valerini

[libra framework] cleanup RecoveryAddress and Option
  language/stdlib/compiled/error_descriptions/error_descriptions.errmap
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/LibraSystem.move
  language/stdlib/modules/Option.move
  language/stdlib/modules/RecoveryAddress.move
  language/stdlib/modules/ValidatorConfig.move
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/LibraSystem.md
  language/stdlib/modules/doc/Option.md
  language/stdlib/modules/doc/RecoveryAddress.md
  language/stdlib/modules/doc/ValidatorConfig.md
Owners: none

refactored match block in multi_ed25519
  crypto/crypto/src/multi_ed25519.rs
Owners: @kchalkias, @huitseeker, @valerini

[db-bootstrap] better error message
  execution/executor/src/db_bootstrapper.rs
Owners: none

x: set CARGO envvar with the cargo binary being invoked
  devtools/x/src/cargo.rs
Owners: none

[network] refactor network README
  network/README.md
Owners: none

removed unnecessary line
  common/logger/src/struct_log.rs
Owners: none

[cluster-test] add json rpc address configuration
  testsuite/cluster-test/src/cluster_swarm/configs/fullnode.yaml
  testsuite/cluster-test/src/cluster_swarm/configs/validator.yaml
Owners: none

[libra-mutex] adding a mutex crate to avoid having unwrap everywhere in the codebase
  Cargo.lock
  Cargo.toml
  common/mutex/Cargo.toml
  common/mutex/src/lib.rs
Owners: none

[libra framework][move-prover] Abstraction of auth key construction in LibraAccount
  language/stdlib/compiled/stdlib/033_LibraAccount.mv
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/doc/LibraAccount.md
Owners: none

[backup] add metrics for backup_verifier
  Cargo.lock
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-cli/src/backup_types/epoch_ending/restore.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/restore.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/coordinators/restore.rs
  storage/backup/backup-cli/src/coordinators/verify.rs
  storage/backup/backup-cli/src/metrics/mod.rs
  storage/backup/backup-cli/src/metrics/restore.rs
  storage/backup/backup-cli/src/metrics/verify.rs
  storage/backup/backup-cli/src/utils/mod.rs
Owners: none

[json-rpc] rename a confusing script type name and update documents
  client/libra-dev/README.md
  json-rpc/API-CHANGELOG.md
  json-rpc/docs/client_checklist.md
  json-rpc/docs/client_implementation_guide.md
  json-rpc/docs/method_submit.md
  json-rpc/docs/type_event.md
  json-rpc/docs/type_metadata.md
  json-rpc/docs/type_transaction.md
  json-rpc/types/src/views.rs
  specifications/README.md
  specifications/consensus/README.md
  specifications/crypto/README.md
Owners: @thefallentree, @xli

[mempool] clean up internals of TxnsLog
  mempool/src/logging.rs
Owners: none

[mempool] add periodic snapshot job
  config/src/config/mempool_config.rs
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/runtime.rs
Owners: none

[mempool] add txn timestamp in snapshot
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/logging.rs
Owners: none

rust version 1.46.0
  rust-toolchain
Owners: none

[scripts] adding -x to debug build doc scripts
  developers.libra.org/scripts/build_docs.sh
Owners: none

debug
  common/time/Cargo.toml
  common/time/src/lib.rs
Owners: none

[cluster-test] fixed issue of worker num cannot more than 17
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

fix new rust version lints
  language/transaction-builder/generator/src/lib.rs
Owners: none

[state sync] raise standards for recovering from multicast/failover mode
  state-synchronizer/src/counters.rs
  state-synchronizer/src/request_manager.rs
Owners: none

[state sync] simplify request_manager::pick_peers
  state-synchronizer/src/request_manager.rs
Owners: none

[cluster-test] removing infinite recursion in Debug implementation
  testsuite/cluster-test/src/instance.rs
Owners: none

[libra-framework] Reorganized prologue checks
  json-rpc/tests/integration_test.rs
  json-rpc/tests/testing.rs
  language/e2e-testsuite/src/tests/verify_txn.rs
  language/stdlib/compiled/stdlib/033_LibraAccount.mv
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/doc/LibraAccount.md
Owners: none

[network] Remove TODOs that won't be actioned on
  network/builder/src/builder.rs
  network/netcore/src/framing.rs
  network/netcore/src/transport/proxy_protocol.rs
  network/src/connectivity_manager/mod.rs
  network/src/counters.rs
Owners: none

[network] Decrease network constant duplication
  config/src/config/network_config.rs
  network/builder/src/dummy.rs
  network/src/constants.rs
Owners: none

[network] Move hardcoded constants to config
  config/src/config/network_config.rs
  network/builder/src/builder.rs
  network/builder/src/dummy.rs
  state-synchronizer/src/tests/integration_tests.rs
Owners: none

[network] add descriptions to constants
  network/src/constants.rs
Owners: none

lower downtime
  testsuite/cluster-test/src/experiments/vfn_failover_test.rs
  testsuite/cluster-test/src/health/liveness_check.rs
Owners: none

Cleaned up LBR and Coin1
  language/stdlib/modules/AccountLimits.move
  language/stdlib/modules/Coin1.move
  language/stdlib/modules/LBR.move
  language/stdlib/modules/Libra.move
  language/stdlib/modules/doc/AccountLimits.md
  language/stdlib/modules/doc/Coin1.md
  language/stdlib/modules/doc/LBR.md
  language/stdlib/modules/doc/Libra.md
Owners: none

[move-prover][move framework] Cleanup of Offer.move
  language/stdlib/compiled/error_descriptions/error_descriptions.errmap
  language/stdlib/compiled/stdlib/035_Offer.mv
  language/stdlib/modules/Offer.move
  language/stdlib/modules/doc/Offer.md
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli
