Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli

[consensus] add counter for sync_only visibility
  consensus/src/round_manager.rs
Owners: none

[consensus] block on reconfig notification
  consensus/src/consensus_provider.rs
  consensus/src/epoch_manager.rs
  consensus/src/twins_test.rs
Owners: none

[breaking][move framework][move-prover] Add LIP-6 specs, refactor Genesis a bit.
  client/transaction-builder/src/stdlib.rs
  json-rpc/tests/integration_test.rs
  language/move-lang/functional-tests/tests/libra_account/basics.move
  language/stdlib/compiled/error_descriptions/error_descriptions.errmap
  language/stdlib/compiled/stdlib/005_Roles.mv
  language/stdlib/compiled/stdlib/030_SlidingNonce.mv
  language/stdlib/compiled/stdlib/032_LibraAccount.mv
  language/stdlib/compiled/stdlib/038_Genesis.mv
  language/stdlib/compiled/transaction_scripts/abi/freeze_account.abi
  language/stdlib/modules/Genesis.move
  language/stdlib/modules/LBR.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/LibraSystem.move
  language/stdlib/modules/Roles.move
  language/stdlib/modules/SlidingNonce.move
  language/stdlib/modules/ValidatorConfig.move
  language/stdlib/modules/ValidatorOperatorConfig.move
  language/stdlib/modules/doc/Genesis.md
  language/stdlib/modules/doc/LBR.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/LibraSystem.md
  language/stdlib/modules/doc/Roles.md
  language/stdlib/modules/doc/SlidingNonce.md
  language/stdlib/modules/doc/ValidatorConfig.md
  language/stdlib/modules/doc/ValidatorOperatorConfig.md
  language/stdlib/transaction_scripts/doc/freeze_account.md
  language/stdlib/transaction_scripts/freeze_account.move
  types/src/on_chain_config/mod.rs
Owners: @thefallentree, @xli

[custer-test] Add support of DD and VASP account for premainnet
  testsuite/cluster-test/src/cluster.rs
  testsuite/cluster-test/src/experiments/reconfiguration_test.rs
  testsuite/cluster-test/src/experiments/versioning_test.rs
  testsuite/cluster-test/src/main.rs
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[transaction builder generator] update serde-generate + fix (ignored) python test
  Cargo.lock
  common/libradoc/Cargo.toml
  language/transaction-builder/generator/Cargo.toml
  language/transaction-builder/generator/tests/generation.rs
Owners: none

[breaking][dkr] add validator buildspec and rename e2e
  docker/validator/build.sh
  docker/validator/buildspec.yaml
  testsuite/cluster-test/src/cluster_swarm/templates/libra_node_spec_template.yaml
Owners: none

CI: add cargo audit dependency check
  .github/workflows/cargo-audit.yml
Owners: @libra/libra-oss-admin-team

[mempool] add broadcast-related code comments
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/shared_mempool/peer_manager.rs
Owners: none

[cluster test] add reconfig to the pre release suite
  testsuite/cluster-test/src/suite.rs
Owners: none

[vm] remove TODO for checking script arguments with instantiated generic types
  language/move-vm/runtime/src/interpreter.rs
Owners: none

added a counter to measure the cost of loading
  language/move-vm/runtime/src/runtime.rs
Owners: none

added counters to track cost of cache access and interpreter run script
  language/libra-vm/src/data_cache.rs
  language/move-vm/runtime/src/runtime.rs
Owners: none

measuring load modules and resources
  language/move-vm/runtime/src/data_cache.rs
Owners: none

added counters to track cost of cache access and interpreter run script
  language/libra-vm/src/data_cache.rs
  language/move-vm/runtime/src/runtime.rs
Owners: none

measuring load modules and resources
  language/move-vm/runtime/src/data_cache.rs
Owners: none

added a counter to measure the cost of loading
  language/move-vm/runtime/src/runtime.rs
Owners: none

added counters to track cost of cache access and interpreter run script
  language/libra-vm/src/data_cache.rs
  language/move-vm/runtime/src/runtime.rs
Owners: none

test-commmit for resolving merge conflict
  language/libra-vm/src/data_cache.rs
  language/move-vm/runtime/src/data_cache.rs
  language/move-vm/runtime/src/runtime.rs
Owners: none

added a counter to measure the cost of loading
  language/move-vm/runtime/src/runtime.rs
Owners: none

measuring load modules and resources
  language/move-vm/runtime/src/data_cache.rs
Owners: none

changes
  execution/executor/src/lib.rs
Owners: none

[LBT][compat] propogate validator image rename
  .github/actions/land-blocking/find-lbt-images.sh
Owners: @libra/libra-oss-admin-team

minor edit
  execution/executor/src/lib.rs
Owners: none

test edits
  execution/executor/src/lib.rs
Owners: none

[docker] Remove traces of config-builder
  docker/README.md
  docker/build-common.sh
  docker/build-push-local.sh
  docker/init/Dockerfile
  docker/mint/Dockerfile
  docker/mint/docker-run.sh
  docker/mint/run.sh
  docker/safety-rules/Dockerfile
  docker/safety-rules/key-manager.sh
  docker/safety-rules/run-key-manager.sh
  docker/safety-rules/run-safety-rules.sh
  docker/safety-rules/safety-rules.sh
  docker/validator-dynamic/Dockerfile
  docker/validator-dynamic/build.sh
  docker/validator-dynamic/buildspec.yaml
  docker/validator-dynamic/docker-run-dynamic-fullnode.sh
  docker/validator-dynamic/docker-run-dynamic.sh
  docker/validator-dynamic/run.sh
  docker/validator/Dockerfile
  docker/validator/docker-run.sh
  testsuite/cluster-test/src/cluster_swarm/configs/validator.yaml
  testsuite/cluster-test/src/cluster_swarm/templates/libra_node_spec_template.yaml
Owners: none

[DO NOT MERGE] panic on invalid addr
  language/move-core/types/src/account_address.rs
Owners: none

[move-prover] Aborts-with check mode.
  language/move-prover/spec-lang/src/env.rs
  language/move-prover/spec-lang/src/translate.rs
  language/move-prover/src/boogie_wrapper.rs
  language/move-prover/src/cli.rs
  language/move-prover/src/spec_translator.rs
  language/move-prover/tests/sources/functional/aborts_if_true.exp
  language/move-prover/tests/sources/functional/aborts_with_check.exp
  language/move-prover/tests/sources/functional/aborts_with_check.move
  language/move-prover/tests/sources/functional/aborts_with_negative_check.exp
  language/move-prover/tests/sources/functional/aborts_with_negative_check.move
Owners: none

[language] increase deserializer test coverage
  language/vm/src/deserializer.rs
  language/vm/src/unit_tests/deserializer_tests.rs
  language/vm/src/unit_tests/signature_token_tests.rs
Owners: none

[docker] Add initial documentation / framework for public full node support
  config/src/config/mod.rs
  config/src/config/test_data/public_full_node.yaml
  docker/compose/public_full_node/docker-compose.yaml
  docker/compose/public_full_node/public_full_node.yaml
Owners: none

perf counters to measure different executor components
  execution/executor/src/lib.rs
  execution/executor/src/metrics.rs
Owners: none

perf counters to measure different VM components
  language/libra-vm/src/counters.rs
  language/libra-vm/src/libra_transaction_executor.rs
Owners: none

[types] utility function for extracting coin name from a TypeTag
  types/src/account_config/constants/coins.rs
Owners: none

[state sync] simplify chunk request version logic
  state-synchronizer/src/coordinator.rs
  state-synchronizer/src/request_manager.rs
  state-synchronizer/src/tests/unit_tests.rs
Owners: none

[management] allow owner/operator support for adding new validator
  config/management/operational/src/command.rs
  config/management/operational/src/lib.rs
  config/management/operational/src/owner.rs
  config/management/operational/src/validator_config.rs
Owners: none

[move prover] add sequential option to prover task runner
  language/move-prover/src/boogie_wrapper.rs
  language/move-prover/src/cli.rs
  language/move-prover/src/prover_task_runner.rs
  language/move-prover/tests/testsuite.rs
  language/stdlib/modules/LBR.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/doc/LBR.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/transaction_scripts/doc/mint_lbr.md
  language/stdlib/transaction_scripts/mint_lbr.move
Owners: none

[move prover] limit concurrency
  language/move-prover/src/prover_task_runner.rs
Owners: none

[breaking][dkr] clean up image names
  .github/actions/land-blocking/find-lbt-images.sh
  docker/build_push.sh
  docker/client/build.sh
  docker/cluster-test/build.sh
  docker/cluster-test/buildspec.yaml
  docker/init/build.sh
  docker/init/buildspec.yaml
  docker/mint/build.sh
  docker/mint/buildspec.yaml
  docker/safety-rules/build.sh
  docker/safety-rules/buildspec.yaml
  docker/tools/build.sh
  docker/tools/buildspec.yaml
  scripts/cluster_test_pod_template.yaml
  testsuite/cluster-test/src/cluster_swarm/templates/lsr_spec_template.yaml
Owners: @libra/libra-oss-admin-team

Replace rustls with native-tls
  Cargo.lock
  client/json-rpc/Cargo.toml
  client/json-rpc/src/blocking.rs
  docker/client/Dockerfile
  docker/mint/Dockerfile
  language/tools/transaction-replay/Cargo.toml
  testsuite/cli/Cargo.toml
  testsuite/cluster-test/Cargo.toml
Owners: @thefallentree, @xli

[twins] general cleanup
  consensus/src/network_tests.rs
  consensus/src/twins_test.rs
Owners: none

[twins] reorganize files
  consensus/src/lib.rs
  consensus/src/network_tests.rs
  consensus/src/twins/basic_twins_test.rs
  consensus/src/twins/mod.rs
  consensus/src/twins/twins_node.rs
Owners: none
