Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

[Key Manager] Improve error messages for storage related errors.
  secure/key-manager/src/lib.rs
Owners: none

[Key Manager] Add logs to differentiate beween different NoAction types.
  secure/key-manager/src/lib.rs
  secure/key-manager/src/logging.rs
Owners: none

[trusted state] fix the ratchet when epoch_proof has more
  types/src/trusted_state.rs
  types/src/unit_tests/trusted_state_test.rs
Owners: none

[dkr] Fix permissions of azcopy
  docker/tools/Dockerfile
Owners: none

[backup] CommandAdapter backup storage: hide env vars in debug log
  storage/backup/backup-cli/src/storage/command_adapter/command.rs
  storage/backup/backup-cli/src/storage/command_adapter/mod.rs
Owners: none

[dkr] Fix service account auth with gsutil
  docker/tools/Dockerfile
  docker/tools/boto.cfg
Owners: none

[dkr] Fix service account auth with gsutil
  docker/tools/Dockerfile
  docker/tools/boto.cfg
Owners: none

swarm: update docs so they don't mention cargo
  testsuite/libra-swarm/src/main.rs
Owners: none

swarm: take path to libra-node binary as a parameter
  testsuite/libra-swarm/src/main.rs
  testsuite/libra-swarm/src/swarm.rs
  testsuite/smoke-test/src/smoke_test.rs
Owners: none

swarm: remove unused dependencies
  Cargo.lock
  testsuite/libra-swarm/Cargo.toml
Owners: none

swarm: take in path to cli binary as argument
  testsuite/libra-swarm/src/client.rs
  testsuite/libra-swarm/src/faucet.rs
  testsuite/libra-swarm/src/main.rs
Owners: none

workspace-builder: make private to smoke-tests
  Cargo.lock
  Cargo.toml
  common/workspace-builder/Cargo.toml
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/smoke_test.rs
  testsuite/smoke-test/src/workspace_builder.rs
  x.toml
Owners: none

[backup] sample config file for azure
  storage/backup/backup-cli/src/storage/command_adapter/azure.sample.toml
Owners: none

[backup] add gcp sample config
  storage/backup/backup-cli/src/storage/command_adapter/gcp.sample.toml
Owners: none

Add HTTPError to JsonRpcAsyncClientError and update is_retriable logic
  client/json-rpc/src/client.rs
Owners: @thefallentree, @xli

[faucet] mint endpoint accepts a new param to return submitted transactions
  client/faucet/Cargo.toml
  client/faucet/src/main.rs
  client/faucet/src/mint.rs
  types/src/transaction/authenticator.rs
Owners: @thefallentree, @xli

add test for auth key from str func not panic
  types/src/transaction/authenticator.rs
Owners: none

update to direct start node in test process
  Cargo.lock
  json-rpc/Cargo.toml
  json-rpc/tests/integration_test.rs
  json-rpc/tests/node.rs
  json-rpc/tests/testing.rs
Owners: none

remove Drop impl for LibraHandle, created shutdown method instead, and call shutdown from test code
  json-rpc/tests/node.rs
  libra-node/src/main_node.rs
Owners: none

fix lint
  libra-node/src/main_node.rs
Owners: none

fix lint
  Cargo.lock
  json-rpc/tests/testing.rs
Owners: none

graceful shutdown network runtimes in to avoid panic error log thread network- panicked at SelectNextSome polled after terminated
  libra-node/src/main_node.rs
Owners: none

[json-rpc] add new integration test suite for better code coverage and easy to write more tests
  Cargo.lock
  json-rpc/Cargo.toml
  json-rpc/README.md
  json-rpc/src/tests/unit_tests.rs
  json-rpc/tests/integration_test.rs
  json-rpc/tests/node.rs
  json-rpc/tests/testing.rs
Owners: none

Require currency codes to be composed of alphanumeric characters
  language/e2e-testsuite/src/tests/verify_txn.rs
  types/src/account_config/constants/libra.rs
  vm-validator/src/unit_tests/vm_validator_test.rs
Owners: none

[move-prover] Adding scripts for z3/boogie install on Ubuntu and CentOS
  language/move-prover/scripts/install-dotnet-centos.sh
  language/move-prover/scripts/install-dotnet-ubuntu.sh
  language/move-prover/scripts/install-z3-ubuntu.sh
  language/move-prover/src/cli.rs
Owners: none

[docker] mint to faucet, shellcheck more scripts
  .circleci/config.yml
  docker/build_push.sh
  docker/dockerhub_to_novi_ecr.sh
  scripts/dockerhub_prune.sh
Owners: @libra/libra-oss-admin-team

Specified more transaction scripts
  language/move-prover/tests/sources/functional/verify_lcs.move
  language/move-prover/tests/sources/functional/verify_signature.move
  language/stdlib/modules/Authenticator.move
  language/stdlib/modules/DualAttestation.move
  language/stdlib/modules/Libra.move
  language/stdlib/modules/SharedEd25519PublicKey.move
  language/stdlib/modules/doc/Authenticator.md
  language/stdlib/modules/doc/DualAttestation.md
  language/stdlib/modules/doc/Libra.md
  language/stdlib/modules/doc/SharedEd25519PublicKey.md
  language/stdlib/transaction_scripts/burn.move
  language/stdlib/transaction_scripts/doc/burn.md
  language/stdlib/transaction_scripts/doc/publish_shared_ed25519_public_key.md
  language/stdlib/transaction_scripts/doc/rotate_dual_attestation_info.md
  language/stdlib/transaction_scripts/doc/rotate_shared_ed25519_public_key.md
  language/stdlib/transaction_scripts/publish_shared_ed25519_public_key.move
  language/stdlib/transaction_scripts/rotate_dual_attestation_info.move
  language/stdlib/transaction_scripts/rotate_shared_ed25519_public_key.move
Owners: none

[libra framework] Update comments in LBR module, use `create_from_raw`
  language/stdlib/compiled/stdlib/024_LBR.mv
  language/stdlib/modules/LBR.move
  language/stdlib/modules/doc/LBR.md
Owners: none

[backup] RestoreCoordinator: skip txns already in DB
  storage/backup/backup-cli/src/coordinators/restore.rs
  storage/libradb/src/backup/restore_handler.rs
Owners: none

[backup] allow redoing state snapshot restore
  storage/jellyfish-merkle/src/mock_tree_store.rs
  storage/jellyfish-merkle/src/restore/mod.rs
  storage/jellyfish-merkle/src/restore/restore_test.rs
  storage/libradb/src/backup/restore_handler.rs
Owners: none

[Operational Tool] Display validator configs even on address decryption failure.
  config/management/operational/src/validator_set.rs
  config/management/src/error.rs
Owners: none

[backup] allow redoing state snapshot restore
  storage/jellyfish-merkle/src/mock_tree_store.rs
  storage/jellyfish-merkle/src/restore/mod.rs
  storage/jellyfish-merkle/src/restore/restore_test.rs
  storage/libradb/src/backup/restore_handler.rs
Owners: none

[backup] RestoreCoordinator: skip txns already in DB
  storage/backup/backup-cli/src/coordinators/restore.rs
  storage/libradb/src/backup/restore_handler.rs
Owners: none

[Safety Rules] Clean up some code around persistent safety storage.
  consensus/safety-rules/src/persistent_safety_storage.rs
Owners: none

[Safety Rules] Maintain an in-memory SafetyData to use as a fast read cache.
  config/src/config/safety_rules_config.rs
  consensus/safety-rules/benches/safety_rules.rs
  consensus/safety-rules/src/persistent_safety_storage.rs
  consensus/safety-rules/src/safety_rules_manager.rs
  consensus/safety-rules/src/test_utils.rs
  consensus/safety-rules/src/tests/vault.rs
  consensus/src/round_manager_test.rs
Owners: none

[move source language] Compiled module interface generator
  language/move-core/types/src/account_address.rs
  language/move-lang/src/interface_generator.rs
  language/move-lang/src/lib.rs
Owners: none

[network] Add connection upgrade time histogram metric
  network/src/counters.rs
  network/src/peer_manager/mod.rs
Owners: none

[network] Add pending connection upgrades metric
  network/src/counters.rs
  network/src/peer_manager/mod.rs
Owners: none

[network] Add inbound rpc handler latency metric
  network/src/counters.rs
  network/src/protocols/rpc/mod.rs
Owners: none

[network] rename rpc latency metric and add protocol_id label
  network/src/counters.rs
  network/src/protocols/rpc/mod.rs
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli
