Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

ran cargo x lint and fmt
  crypto/crypto/src/multi_ed25519.rs
Owners: @kchalkias, @huitseeker, @valerini

Removing instances of unwrap or unreachable macros inside functions of type result
  Cargo.lock
  common/logger/src/struct_log.rs
  crypto/crypto/src/multi_ed25519.rs
  network/memsocket/Cargo.toml
  network/memsocket/src/lib.rs
Owners: @kchalkias, @huitseeker, @valerini

refactored match block in multi_ed25519
  crypto/crypto/src/multi_ed25519.rs
Owners: @kchalkias, @huitseeker, @valerini

removed unnecessary line
  common/logger/src/struct_log.rs
Owners: none

updated error message
  crypto/crypto/src/multi_ed25519.rs
Owners: @kchalkias, @huitseeker, @valerini

reverting changes in network/memsocket/*
  Cargo.lock
  common/logger/src/struct_log.rs
  network/memsocket/Cargo.toml
  network/memsocket/src/lib.rs
Owners: none

[json-rpc] rename BlockMetadata to MetadataView
  client/json-rpc/src/response.rs
  json-rpc/src/methods.rs
  json-rpc/src/tests/unit_tests.rs
  json-rpc/types/src/views.rs
  language/libra-tools/libra-validator-interface/src/json_rpc_interface.rs
  testsuite/cli/src/client_proxy.rs
  testsuite/cli/src/libra_client.rs
Owners: @thefallentree, @xli

[state sync] refactor multicast-related code
  state-synchronizer/src/logging.rs
  state-synchronizer/src/request_manager.rs
Owners: none

[network] Remove unused NetworkErrorKind
  network/src/error.rs
Owners: none

[network] Add more information to not connected messages
  network/src/peer_manager/mod.rs
Owners: none

[network] Add comparison info for Handshake Errors
  network/src/protocols/wire/handshake/v1/mod.rs
Owners: none

[move-prover] Cleanup of Genesis, Hash, and LCS.
  language/move-prover/src/cli.rs
  language/move-prover/tests/sources/functional/script_incorrect.exp
  language/move-prover/tests/sources/functional/script_incorrect.move
  language/stdlib/modules/Genesis.move
  language/stdlib/modules/Hash.move
  language/stdlib/modules/LCS.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/LibraTimestamp.move
  language/stdlib/modules/doc/Genesis.md
  language/stdlib/modules/doc/Hash.md
  language/stdlib/modules/doc/LCS.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/LibraTimestamp.md
Owners: none

[libra framework][move-prover] Abstraction of auth key construction in LibraAccount
  language/stdlib/modules/doc/LibraAccount.md
Owners: none

[consensus] slow down if no user txns
  config/src/config/consensus_config.rs
  consensus/src/consensus_provider.rs
  consensus/src/test_utils/mock_txn_manager.rs
  consensus/src/txn_manager.rs
  mempool/src/shared_mempool/types.rs
Owners: none

[toolchain] bump default toolchain for latest stable cargo in calls to `cargo xtest`
  consensus/src/twins/twins_node.rs
  devtools/x/src/cargo.rs
  language/move-prover/src/lib.rs
  language/transaction-builder/generator/src/lib.rs
  rust-toolchain
Owners: none

[libra-mutex] adding a mutex crate to avoid having unwrap everywhere in the codebase
  Cargo.lock
  Cargo.toml
  common/mutex/Cargo.toml
  common/mutex/src/lib.rs
Owners: none

temp
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/tests/shared_mempool_test.rs
Owners: none

[Vault] Fix error message handling for http codes and text.
  secure/storage/src/error.rs
  secure/storage/vault/src/lib.rs
Owners: none

[libra framework] cleanup LibraBlock VMConfig and PublishingOption
  language/stdlib/compiled/stdlib/031_LibraBlock.mv
  language/stdlib/modules/LibraBlock.move
  language/stdlib/modules/LibraTransactionPublishingOption.move
  language/stdlib/modules/LibraVMConfig.move
  language/stdlib/modules/doc/LibraBlock.md
  language/stdlib/modules/doc/LibraTransactionPublishingOption.md
  language/stdlib/modules/doc/LibraVMConfig.md
Owners: none

[state sync] refactor multicast-related code
  state-synchronizer/src/logging.rs
  state-synchronizer/src/request_manager.rs
Owners: none

[state sync] simplify request_manager::pick_peers
  state-synchronizer/src/request_manager.rs
Owners: none

[state sync] raise standards for recovering from multicast/failover mode
  state-synchronizer/src/counters.rs
  state-synchronizer/src/request_manager.rs
Owners: none

[language][vm] add comments to better specify the public interfaces
  language/move-vm/runtime/src/data_cache.rs
  language/move-vm/runtime/src/move_vm.rs
  language/move-vm/runtime/src/runtime.rs
  language/move-vm/runtime/src/session.rs
Owners: none

[cli] Disallow minting/transferring LBR in the CLI
  testsuite/cli/src/client_proxy.rs
Owners: none

[json-rpc] add libra_version to get metadata response
  json-rpc/API-CHANGELOG.md
  json-rpc/docs/type_metadata.md
  json-rpc/src/methods.rs
  json-rpc/src/tests/unit_tests.rs
  json-rpc/tests/integration_test.rs
  json-rpc/types/src/views.rs
Owners: @thefallentree, @xli

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli
