Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

[language] fix error codes in libra vm writeset generation
  language/libra-vm/src/libra_vm.rs
Owners: none

website: update 'bl' to 1.2.3
  developers.libra.org/website/package-lock.json
Owners: none

ci: skip 'diff LEC summary' step for bors
  .github/workflows/dep-summaries.yml
Owners: @libra/libra-oss-admin-team

[gha] remove temp hack to make dep-summaries work
  .github/workflows/dep-summaries.yml
Owners: @libra/libra-oss-admin-team

[json-rpc][libra framework] Add human-readable explanation for Move aborts to json-rpc
  Cargo.lock
  json-rpc/API-CHANGELOG.md
  json-rpc/docs/type_transaction.md
  json-rpc/tests/integration_test.rs
  json-rpc/tests/testing.rs
  json-rpc/types/Cargo.toml
  json-rpc/types/src/views.rs
  language/tools/move-explain/src/lib.rs
  language/tools/move-explain/src/main.rs
Owners: @thefallentree, @xli

[Smoke Tests] Split up massive smoke-tests.rs file into components.
  testsuite/smoke-test/src/client.rs
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/key_manager.rs
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/operational_tooling.rs
  testsuite/smoke-test/src/replay_tooling.rs
  testsuite/smoke-test/src/scripts_and_modules.rs
  testsuite/smoke-test/src/smoke_test.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/storage.rs
  testsuite/smoke-test/src/test_environment.rs
  testsuite/smoke-test/src/test_utils.rs
  testsuite/smoke-test/src/transaction.rs
Owners: none

[Smoke Tests] Rename TestEnvironment to SmokeTestEnvironment.
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/key_manager.rs
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/operational_tooling.rs
  testsuite/smoke-test/src/smoke_test_environment.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/test_utils.rs
Owners: none

swarm: require paths to binaries
  testsuite/libra-swarm/src/main.rs
Owners: none

swarm: better error message when a process was failed to be started
  testsuite/libra-swarm/src/client.rs
  testsuite/libra-swarm/src/faucet.rs
  testsuite/libra-swarm/src/swarm.rs
Owners: none

Update install-boogie.sh
  language/move-prover/scripts/install-boogie.sh
Owners: none

[logging] Add support for display/debug structured log fields
  common/logger/src/lib.rs
  common/logger/src/libra_logger.rs
  common/logger/src/macros.rs
Owners: none

[network] Make NetworkContext serialize consistently
  config/src/network_id.rs
Owners: none

Some tweaks to the documentation layout
  CONTRIBUTING.md
  developers.libra.org/CONTRIBUTING.md
  documentation/contributing/corporate-cla.pdf
  documentation/contributing/individual-cla.pdf
  documentation/tech-papers/lbft-reconfig/alternatives.tex
  documentation/tech-papers/lbft-reconfig/correctness.tex
  documentation/tech-papers/lbft-reconfig/figures/artwork.pptx
  documentation/tech-papers/lbft-reconfig/figures/introduction.png
  documentation/tech-papers/lbft-reconfig/figures/reconfig-liveness.png
  documentation/tech-papers/lbft-reconfig/figures/reconfig-safety.png
  documentation/tech-papers/lbft-reconfig/figures/reconfig1.png
  documentation/tech-papers/lbft-reconfig/introduction.tex
  documentation/tech-papers/lbft-reconfig/lbft-reconfig.pdf
  documentation/tech-papers/lbft-reconfig/lbft-reconfig.tex
  documentation/tech-papers/lbft-reconfig/makefile
  documentation/tech-papers/lbft-reconfig/mechanism.tex
  documentation/tech-papers/lbft-reconfig/setup.tex
  documentation/tech-papers/lbft-verification/figures/artwork.pptx
  documentation/tech-papers/lbft-verification/figures/ledger-store.pdf
  documentation/tech-papers/lbft-verification/figures/state-sync-epochs-1.pdf
  documentation/tech-papers/lbft-verification/figures/state-sync-epochs-2.pdf
  documentation/tech-papers/lbft-verification/figures/state-sync-waypoint.pdf
  documentation/tech-papers/lbft-verification/figures/verification-actors.pdf
  documentation/tech-papers/lbft-verification/figures/waypoint-verification.pdf
  documentation/tech-papers/lbft-verification/lbft-verification.pdf
  documentation/tech-papers/lbft-verification/lbft-verification.tex
  documentation/tech-papers/lbft-verification/makefile
  documentation/tech-papers/lbft-verification/setup.tex
Owners: none

trivial: downgrade "system counter missing" error log to warning
  storage/libradb/src/system_store/mod.rs
Owners: none

[scratchpad] Add some perf counters to scratchpad
  Cargo.lock
  storage/scratchpad/Cargo.toml
  storage/scratchpad/src/sparse_merkle/counters.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/node.rs
Owners: none

[move-prover] Sorting deps.
  language/move-prover/src/lib.rs
Owners: none

[codebuild] deal with download failed
  docker/build-aws.sh
Owners: none

simplify documentation to point folks to the single test node of libra-node
  developers.libra.org/docs/my-first-transaction.md
  developers.libra.org/docs/run-local-network.md
  developers.libra.org/docs/run-move-locally.md
Owners: none

[language] add move-vm-test-utils
  Cargo.lock
  Cargo.toml
  language/move-core/types/src/language_storage.rs
  language/move-vm/test-utils/Cargo.toml
  language/move-vm/test-utils/src/effects.rs
  language/move-vm/test-utils/src/lib.rs
  language/move-vm/test-utils/src/misc.rs
  language/move-vm/test-utils/src/storage.rs
  x.toml
Owners: none

x: disable clippy::new-without-default lint
  x.toml
Owners: none

[Key Manager] Add metrics for the errors encountered by the key manager.
  secure/key-manager/src/lib.rs
Owners: none

[Key Manager] Improve metric keys to be more generic about supporting multiple keys.
  secure/key-manager/src/lib.rs
Owners: none

[gha][lbt] add PR num to error msg
  .github/workflows/land-blocking.yml
Owners: @libra/libra-oss-admin-team

[libra framework] refactor specs for p2p script
  language/stdlib/modules/AccountLimits.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/transaction_scripts/peer_to_peer_with_metadata.move
Owners: none

[libra framework] specify p2p and create child vasp scripts
  language/stdlib/compiled/stdlib/010_AccountLimits.mv
  language/stdlib/compiled/stdlib/036_LibraAccount.mv
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/VASP.move
  language/stdlib/modules/doc/AccountLimits.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/VASP.md
  language/stdlib/transaction_scripts/create_child_vasp_account.move
  language/stdlib/transaction_scripts/doc/create_child_vasp_account.md
  language/stdlib/transaction_scripts/doc/overview.md
  language/stdlib/transaction_scripts/peer_to_peer_with_metadata.move
Owners: none

[state sync] structured logging + some counters
  state-synchronizer/src/chunk_request.rs
  state-synchronizer/src/coordinator.rs
  state-synchronizer/src/counters.rs
  state-synchronizer/src/executor_proxy.rs
  state-synchronizer/src/lib.rs
  state-synchronizer/src/logging.rs
  state-synchronizer/src/request_manager.rs
Owners: none

[gha][lbt] fix newlines in slack msg
  .github/workflows/land-blocking.yml
Owners: @libra/libra-oss-admin-team

[DO NOT MERGE] invoke failure for LBT
  testsuite/cluster-test/src/experiments/compatibility_test.rs
Owners: none

[cli] Show private keys for constructed accounts when listing
  .circleci/config.yml
  Cargo.toml
  testsuite/cli/libra-wallet/Cargo.toml
  testsuite/cli/libra-wallet/src/key_factory.rs
  testsuite/cli/libra-wallet/src/wallet_library.rs
  testsuite/cli/src/client_proxy.rs
  x.toml
Owners: @libra/libra-oss-admin-team

rust: convert Cargo.lock to v2 format
  Cargo.lock
Owners: none

[ci] Run dep-summaries workflow on pushes to auto branch
  .github/workflows/dep-summaries.yml
Owners: @libra/libra-oss-admin-team

[ci] Reorganize dep-summaries to reduce conditional propagation
  .github/workflows/dep-summaries.yml
Owners: @libra/libra-oss-admin-team

[TEST] benchmark gas unit price 1
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

logger: add hack to ensure log lines aren't empty in Kibana
  common/logger/src/libra_logger.rs
Owners: none

[libra-node] remove the disable logging flag
  libra-node/src/lib.rs
  libra-node/src/main.rs
  testsuite/libra-swarm/src/main.rs
  testsuite/libra-swarm/src/swarm.rs
  testsuite/smoke-test/src/client.rs
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/genesis.rs
  testsuite/smoke-test/src/operational_tooling.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/storage.rs
Owners: none

[logger] Add metric of bytes sent to logging system
  common/logger/src/counters.rs
  common/logger/src/libra_logger.rs
Owners: none

[logging] remove unused file
  common/logger/src/tests/mod.rs
Owners: none

[move framework][move-prover] More validator-related specs, fixed timeouts.
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/LibraSystem.move
  language/stdlib/modules/Roles.move
  language/stdlib/modules/ValidatorConfig.move
  language/stdlib/modules/ValidatorOperatorConfig.move
  language/stdlib/modules/doc/LibraSystem.md
  language/stdlib/modules/doc/ValidatorConfig.md
  language/stdlib/transaction_scripts/create_validator_account.move
  language/stdlib/transaction_scripts/create_validator_operator_account.move
  language/stdlib/transaction_scripts/register_validator_config.move
Owners: none

[metrics] Gather metrics around metrics gathering
  common/metrics/src/lib.rs
  common/metrics/src/metric_server.rs
Owners: none

update to serde-generate 0.14.3
  Cargo.lock
  language/transaction-builder/generator/Cargo.toml
  language/transaction-builder/generator/examples/java/StdlibDemo.java
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli
