Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

[json-rpc] rename in methods.rs _parse_signed_trasaction to parse_signed_transaction
  json-rpc/src/methods.rs
Owners: @thefallentree, @xli

[network] use a single `IntGauge` for per-peer channels
  Cargo.lock
  common/channel/Cargo.toml
  common/channel/src/lib.rs
  common/channel/src/test.rs
  network/src/counters.rs
  network/src/interface/mod.rs
Owners: none

[network] remove all uses of deprecated OpMetrics
  network/src/counters.rs
Owners: none

[channel] remove unused channel timeout functionality
  common/channel/src/lib.rs
  common/channel/src/test.rs
Owners: none

[twins] fix the timeout calculation
  common/logger/src/libra_logger.rs
  consensus/src/liveness/round_proposer_election.rs
  consensus/src/network_tests.rs
  consensus/src/round_manager.rs
  consensus/src/twins/test_case_executor.rs
  consensus/src/twins/test_cases.rs
  consensus/src/twins/twins_node.rs
Owners: none

[twins] implement execution
  consensus/src/network_tests.rs
  consensus/src/twins/mod.rs
  consensus/src/twins/test_cases.rs
Owners: none

update & fix jsonrpc doc
  json-rpc/docs/type_transaction.md
  json-rpc/json-rpc-spec.md
Owners: @thefallentree, @xli

[genesis] prevent race condition in setting owner account
  config/management/genesis/src/key.rs
Owners: none

[libra framework] Specs for prologue, add a couple tests
  language/e2e-testsuite/src/tests/failed_transaction_tests.rs
  language/e2e-testsuite/src/tests/genesis_initializations.rs
  language/ir-testsuite/tests/move/builtins/get_missing_account.mvir
  language/move-lang/functional-tests/tests/libra/shared_ed25519_public_key/shared_key.move
  language/stdlib/compiled/stdlib/036_LibraAccount.mv
  language/stdlib/modules/ChainId.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/LibraConfig.move
  language/stdlib/modules/LibraTransactionPublishingOption.move
  language/stdlib/modules/doc/ChainId.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/LibraConfig.md
  language/stdlib/modules/doc/LibraTransactionPublishingOption.md
  language/tools/move-coverage/check_coverage.bash
Owners: none

[mempool] Added logging schema for sender logic
  mempool/src/core_mempool/index.rs
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/lib.rs
  mempool/src/logging.rs
Owners: none

[mempool] added peer based structured logging in mempool
  mempool/src/logging.rs
  mempool/src/shared_mempool/tasks.rs
Owners: none

[mempool] change loop exit logs to warn
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/tasks.rs
Owners: none

[move-cli] better explanations when script args don't match parameter types
  language/tools/move-cli/src/main.rs
  language/vm/src/file_format.rs
Owners: none

trivial: improve error message
  storage/accumulator/src/lib.rs
Owners: none

[storage] ensure client known_version no newer than leger version, earlier
  storage/libradb/src/lib.rs
Owners: none

[genesis] expose test_config from genesis::config_builder
  Cargo.lock
  config/management/genesis/src/config_builder.rs
  config/management/genesis/src/lib.rs
  config/src/config/mod.rs
  config/src/config/safety_rules_config.rs
  config/src/config/test_config.rs
Owners: none

[language] eliminate dependency on config(-builder)
  Cargo.lock
  language/testing-infra/e2e-tests/src/executor.rs
  language/testing-infra/functional-tests/Cargo.toml
  language/testing-infra/functional-tests/src/config/global.rs
  language/tools/vm-genesis/src/lib.rs
Owners: none

[vm-validator] eliminate dependency on config-builder
  vm-validator/Cargo.toml
  vm-validator/src/unit_tests/vm_validator_test.rs
Owners: none

[state-sync] remove dependence on config-builder
  state-synchronizer/Cargo.toml
  state-synchronizer/src/tests/integration_tests.rs
  state-synchronizer/src/tests/on_chain_config_tests.rs
Owners: none

[key-manager] remove dependence on config-builder
  secure/key-manager/Cargo.toml
  secure/key-manager/src/tests.rs
Owners: none

[execution] remove dependence on config-bulider
  Cargo.lock
  consensus/src/block_storage/block_store_and_lec_recovery_test.rs
  execution/execution-correctness/Cargo.toml
  execution/execution-correctness/src/tests/suite.rs
  execution/executor-benchmark/Cargo.toml
  execution/executor-benchmark/src/lib.rs
  execution/executor-test-helpers/Cargo.toml
  execution/executor-test-helpers/src/integration_test_impl.rs
  execution/executor-test-helpers/src/lib.rs
  execution/executor/Cargo.toml
  execution/executor/src/db_bootstrapper.rs
  execution/executor/src/executor_test.rs
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/storage_integration_test.rs
Owners: none

[config-builder] Erase
  Cargo.lock
  Cargo.toml
  config/config-builder/Cargo.toml
  config/config-builder/src/error.rs
  config/config-builder/src/full_node_config.rs
  config/config-builder/src/key_manager_config.rs
  config/config-builder/src/lib.rs
  config/config-builder/src/main.rs
  config/config-builder/src/validator_config.rs
  config/management/Cargo.toml
  config/management/genesis/Cargo.toml
  config/management/genesis/src/config_builder.rs
  config/management/genesis/src/lib.rs
  config/management/genesis/src/swarm_config.rs
  config/management/operational/Cargo.toml
  json-rpc/Cargo.toml
  json-rpc/tests/node.rs
  libra-node/Cargo.toml
  libra-node/src/main.rs
  secure/key-manager/Cargo.toml
  state-synchronizer/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/cluster-test/src/cluster.rs
  testsuite/cluster-test/src/experiments/client_compatibility_cmds.txt
  testsuite/cluster-test/src/experiments/client_compatibility_test.rs
  testsuite/cluster-test/src/experiments/mod.rs
  testsuite/libra-swarm/Cargo.toml
  testsuite/libra-swarm/src/swarm.rs
Owners: none

[logging] Added more detailed rust docs for structured logs
  common/logger/src/lib.rs
Owners: none

[dkr] Install ca-certificates in client images
  docker/client/Dockerfile
  docker/libra-build.sh
  docker/tools/Dockerfile
Owners: none

[secure-net] logs and counters
  Cargo.lock
  consensus/safety-rules/src/remote_service.rs
  execution/execution-correctness/src/remote_service.rs
  secure/net/Cargo.toml
  secure/net/src/lib.rs
  storage/storage-client/src/lib.rs
  storage/storage-service/src/lib.rs
Owners: none

some aesthetic issues
  config/management/genesis/README.md
  consensus/safety-rules/src/error.rs
Owners: none

test
  Cargo.lock
  storage/scratchpad/Cargo.toml
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/node.rs
Owners: none

[faucet] should not submit create account transaction if it is created already
  client/faucet/src/main.rs
  client/faucet/src/mint.rs
Owners: @thefallentree, @xli

[executor] cleanup counter name and logging
  execution/executor/src/lib.rs
  execution/executor/src/metrics.rs
Owners: none

[libra framework] refactor specs for p2p script
  language/stdlib/modules/AccountLimits.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/transaction_scripts/peer_to_peer_with_metadata.move
Owners: none

[dkr] Try to fix corrupted kubectl in images
  docker/init/Dockerfile
  docker/tools/Dockerfile
Owners: none

[Key Manager] Update log levels in key manager logs.
  secure/key-manager/src/lib.rs
  secure/key-manager/src/logging.rs
Owners: none

[Key Manager] Update counter names to be more explicit.
  secure/key-manager/src/lib.rs
Owners: none

[libra framework] specify p2p and create child vasp scripts
  client/transaction-builder/src/stdlib.rs
  language/stdlib/compiled/stdlib/010_AccountLimits.mv
  language/stdlib/compiled/stdlib/036_LibraAccount.mv
  language/stdlib/compiled/transaction_scripts/abi/create_child_vasp_account.abi
  language/stdlib/compiled/transaction_scripts/abi/peer_to_peer_with_metadata.abi
  language/stdlib/compiled/transaction_scripts/create_child_vasp_account.mv
  language/stdlib/compiled/transaction_scripts/peer_to_peer_with_metadata.mv
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/VASP.move
  language/stdlib/modules/doc/AccountLimits.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/VASP.md
  language/stdlib/transaction_scripts/create_child_vasp_account.move
  language/stdlib/transaction_scripts/doc/create_child_vasp_account.md
  language/stdlib/transaction_scripts/doc/peer_to_peer_with_metadata.md
  language/stdlib/transaction_scripts/peer_to_peer_with_metadata.move
Owners: @thefallentree, @xli

[gha] a little less broken
  .github/workflows/dep-summaries.yml
  x.toml
Owners: @libra/libra-oss-admin-team

[breaking][vm] Fix issue where OUT_OF_GAS errors weren't being bubbled up correctly
  language/ir-testsuite/tests/libra/epilogue/loop_out_of_gas.mvir
  language/ir-testsuite/tests/libra/epilogue/while_out_of_gas.mvir
  language/move-core/types/src/vm_status.rs
  language/move-lang/functional-tests/tests/epilogue/out_of_gas_in_module.move
  language/move-lang/functional-tests/tests/epilogue/out_of_gas_in_nested_module.move
  language/move-lang/functional-tests/tests/epilogue/out_of_gas_in_script_after_module_call.move
  language/move-lang/functional-tests/tests/epilogue/out_of_gas_recursive.move
  language/move-lang/functional-tests/tests/libra/transaction_fee/burn_collected_fees.move
  language/move-lang/functional-tests/tests/libra/transaction_fee/burn_collected_lbr.move
  language/move-lang/functional-tests/tests/move/loops/unused_signer_infinite_loop.move
  language/move-vm/runtime/src/interpreter.rs
Owners: none

[chain id] rm panic in ChainId from_str
  types/src/chain_id.rs
Owners: none

[logging] Add thread name to text log output
  common/logger/src/libra_logger.rs
Owners: none

[Libra Node] Remove main_node module and merge into lib
  json-rpc/tests/node.rs
  libra-node/Cargo.toml
  libra-node/src/lib.rs
  libra-node/src/main.rs
  libra-node/src/main_node.rs
Owners: none

[Libra Node] Move library logic out of main file.
  libra-node/src/lib.rs
  libra-node/src/main.rs
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli
