Repository diem/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @thefallentree, @xli, @matbd

[mempool] rate-limit outgoing broadcasts and concurrent txn validation
  config/src/config/mempool_config.rs
  libra-node/src/lib.rs
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/tests/shared_mempool_test.rs
Owners: none

Added access control spec to the txn scripts
  language/stdlib/modules/DualAttestation.move
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/RecoveryAddress.move
  language/stdlib/modules/doc/DualAttestation.md
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/modules/doc/RecoveryAddress.md
  language/stdlib/transaction_scripts/add_currency_to_account.move
  language/stdlib/transaction_scripts/burn.move
  language/stdlib/transaction_scripts/create_child_vasp_account.move
  language/stdlib/transaction_scripts/doc/overview.md
  language/stdlib/transaction_scripts/preburn.move
  language/stdlib/transaction_scripts/rotate_authentication_key.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce_admin.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_recovery_address.move
  language/stdlib/transaction_scripts/rotate_dual_attestation_info.move
  language/stdlib/transaction_scripts/tiered_mint.move
Owners: none

Update vault.rs
  secure/storage/src/tests/vault.rs
Owners: none

add policy tests for vault in different namespaces
  secure/storage/src/tests/vault.rs
Owners: none

[Vault] Support automatic key trimming on key rotations.
  secure/storage/src/vault.rs
  secure/storage/vault/src/lib.rs
Owners: none

[Vault] Add tests to ensure vault key trimming is occuring correctly.
  secure/storage/src/tests/vault.rs
  secure/storage/src/vault.rs
Owners: none

[smoke test] fix flaky vfn failover test
  testsuite/smoke-test/src/full_nodes.rs
Owners: none

[GHA] fix typo in post-land test retry limit
  .github/workflows/post-land.yml
Owners: @libra/libra-oss-admin-team

[json-rpc] change most log to debug level, change response log to trace level
  json-rpc/src/runtime.rs
Owners: none

[libra framework] cleanup ValidatorConfig through SharedEd25519PublicKey
  language/stdlib/compiled/stdlib/039_SharedEd25519PublicKey.mv
  language/stdlib/modules/LibraSystem.move
  language/stdlib/modules/SharedEd25519PublicKey.move
  language/stdlib/modules/Signer.move
  language/stdlib/modules/SlidingNonce.move
  language/stdlib/modules/TransactionFee.move
  language/stdlib/modules/ValidatorConfig.move
  language/stdlib/modules/doc/LibraSystem.md
  language/stdlib/modules/doc/SharedEd25519PublicKey.md
  language/stdlib/modules/doc/Signer.md
  language/stdlib/modules/doc/SlidingNonce.md
  language/stdlib/modules/doc/TransactionFee.md
  language/stdlib/modules/doc/ValidatorConfig.md
Owners: none

fixup! [libra-framework][breaking] Change reconfiguration rule
  language/ir-testsuite/tests/libra/reconfiguration/reconfiguration.mvir
  language/move-lang/functional-tests/tests/libra/reconfiguration/reconfiguration.move
Owners: none

[move-prover] Add support for Boogie :print attribute.
  language/move-prover/src/boogie_helpers.rs
  language/move-prover/src/bytecode_translator.rs
  language/move-prover/src/cli.rs
Owners: none

[language][vm] add tests for exec_function and fix error code
  language/move-vm/integration-tests/src/compiler.rs
  language/move-vm/integration-tests/src/tests/bad_entry_point_tests.rs
  language/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  language/move-vm/integration-tests/src/tests/mod.rs
  language/move-vm/runtime/src/loader.rs
Owners: none

fixup! fixup! [libra-framework][breaking] Change reconfiguration rule
  language/libra-vm/src/libra_transaction_executor.rs
  language/move-lang/functional-tests/tests/libra/reconfiguration/reconfiguration.move
  language/move-lang/functional-tests/tests/libra/validator_set/reconfigure_twice_in_transaction.move
  language/stdlib/modules/LibraConfig.move
  language/stdlib/modules/doc/LibraConfig.md
Owners: none

[move-prover][move framework] Cleanup of LibraSystem.move
  language/move-prover/output.bpl
  language/move-prover/output.bpl.log
  language/stdlib/compiled/error_descriptions/error_descriptions.errmap
  language/stdlib/modules/LibraSystem.move
  language/stdlib/modules/doc/LibraSystem.md
Owners: none

[testsuite] Fixing CLI shorthands for "dev" subcommands
  testsuite/cli/src/client_proxy.rs
  testsuite/cli/src/dev_commands.rs
Owners: none

[backup] backup coordinator: epoch ending before other types
  storage/backup/backup-cli/src/backup_types/epoch_ending/restore.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
Owners: none

[backup] backup coordinator: always use 1 as epoch ending backup batch size
  storage/backup/backup-cli/src/coordinators/backup.rs
Owners: none

[json-rpc] add failpoints
  Cargo.lock
  json-rpc/Cargo.toml
  json-rpc/src/methods.rs
  json-rpc/src/util.rs
  libra-node/Cargo.toml
  testsuite/cluster-test/src/cluster_swarm/configs/fullnode.yaml
Owners: @thefallentree, @xli

[coverage] prevent stack overflow in xtest's run of language/ir-testsuite's tests
  devtools/x/src/test.rs
Owners: none

Export curve25519-dalek u32_backend feature
  .circleci/config.yml
  crypto/crypto/Cargo.toml
  crypto/crypto/src/ed25519.rs
  crypto/crypto/src/lib.rs
  crypto/crypto/src/multi_ed25519.rs
  crypto/crypto/src/unit_tests/ed25519_test.rs
  crypto/crypto/src/x25519.rs
  language/move-core/types/Cargo.toml
Owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini

logger: have separate filters for local and remote logging
  common/logger/src/libra_logger.rs
Owners: none

logger: enable dynamic adjustment of both local and remote log filters
  common/debug-interface/src/node_debug_service.rs
  common/logger/src/libra_logger.rs
Owners: none

[scripts] Added convenience script start_cli_swarm.sh
  scripts/cli/start_cli_swarm.sh
Owners: none

website: updating documentation to include start_cli_swarm.sh
  developers.libra.org/docs/reference/libra-cli.md
Owners: none

fixup! fixup! fixup! [libra-framework][breaking] Change reconfiguration rule
  language/e2e-testsuite/src/tests/write_set.rs
  language/libra-vm/src/libra_transaction_executor.rs
  language/stdlib/modules/LibraConfig.move
  language/stdlib/modules/doc/LibraConfig.md
  types/src/on_chain_config/mod.rs
Owners: none

[json-rpc] add header forwarded into http request log
  json-rpc/src/runtime.rs
Owners: none

[language][vm] add tests for storage backends returning errors and fix error handling
  language/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  language/move-vm/runtime/src/data_cache.rs
  language/move-vm/test-utils/src/storage.rs
  language/vm/src/errors.rs
Owners: none

[json-rpc] add test for upgrade event
  json-rpc/tests/integration_test.rs
  json-rpc/tests/testing.rs
  types/src/account_config/events/upgrade.rs
Owners: none

[move-prover][move framework] Cleanup of comments in LibraConfig
  language/stdlib/modules/LibraConfig.move
  language/stdlib/modules/LibraSystem.move
  language/stdlib/modules/doc/LibraConfig.md
  language/stdlib/modules/doc/LibraSystem.md
Owners: none

[cluster-test] increase test duration for fullnode recovery
  testsuite/cluster-test/src/experiments/performance_benchmark.rs
Owners: none

[network] Improve ProxyProtocol failure logs
  network/netcore/src/transport/proxy_protocol.rs
  network/src/transport.rs
Owners: none

[network] Make PeerManager and connection messages consistent
  network/src/peer_manager/mod.rs
Owners: none

[logging] Fix thread names to not end in dashes
  common/debug-interface/src/node_debug_service.rs
  consensus/src/consensus_provider.rs
  libra-node/src/lib.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/tests/mocks.rs
  mempool/src/tests/shared_mempool_test.rs
  state-synchronizer/src/synchronizer.rs
  storage/backup/backup-service/src/lib.rs
  testsuite/cluster-test/src/experiments/load_test.rs
Owners: none

[libra framework] cleanup LibraAccount and use withdraw everywhere
  language/move-prover/output.bpl
  language/move-prover/output.bpl.log
  language/stdlib/compiled/error_descriptions/error_descriptions.errmap
  language/stdlib/compiled/stdlib/035_LibraAccount.mv
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/transaction_scripts/doc/overview.md
Owners: none

[consensus] remove timeout from twins test
  consensus/src/network_tests.rs
  consensus/src/test_utils/mock_state_computer.rs
  consensus/src/test_utils/mock_txn_manager.rs
  consensus/src/twins/basic_twins_test.rs
  consensus/src/twins/twins_node.rs
Owners: none

updating boogie to 2.7.35
  language/move-prover/src/cli.rs
  scripts/dev_setup.sh
Owners: none

Specified the access control properties of the txn scripts
  language/stdlib/modules/LibraAccount.move
  language/stdlib/modules/doc/LibraAccount.md
  language/stdlib/transaction_scripts/add_validator_and_reconfigure.move
  language/stdlib/transaction_scripts/burn.move
  language/stdlib/transaction_scripts/cancel_burn.move
  language/stdlib/transaction_scripts/create_designated_dealer.move
  language/stdlib/transaction_scripts/create_parent_vasp_account.move
  language/stdlib/transaction_scripts/create_validator_account.move
  language/stdlib/transaction_scripts/create_validator_operator_account.move
  language/stdlib/transaction_scripts/doc/overview.md
  language/stdlib/transaction_scripts/peer_to_peer_with_metadata.move
  language/stdlib/transaction_scripts/register_validator_config.move
  language/stdlib/transaction_scripts/remove_validator_and_reconfigure.move
  language/stdlib/transaction_scripts/rotate_authentication_key_with_nonce_admin.move
  language/stdlib/transaction_scripts/set_validator_config_and_reconfigure.move
  language/stdlib/transaction_scripts/set_validator_operator.move
  language/stdlib/transaction_scripts/set_validator_operator_with_nonce_admin.move
  language/stdlib/transaction_scripts/update_exchange_rate.move
Owners: none

[state sync] add tests for executor proxy interface
  state-synchronizer/src/tests/on_chain_config_tests.rs
Owners: none

[state sync] more logging + counters
  state-synchronizer/src/coordinator.rs
  state-synchronizer/src/counters.rs
  state-synchronizer/src/executor_proxy.rs
  state-synchronizer/src/logging.rs
  state-synchronizer/src/request_manager.rs
  state-synchronizer/src/synchronizer.rs
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team
# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini
# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @thefallentree @xli
/json-rpc/types/ @thefallentree @xli
/json-rpc/src/methods.rs @thefallentree @xli
/client/ @thefallentree @xli
# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @thefallentree @matbd @xli
