Repository diem/diem, pull requests merged in 2019-07, with the labels that each got.

#309 [Consensus][small] SafetyRules voting does not panic
  consensus/src/chained_bft/safety/safety_rules.rs
  consensus/src/chained_bft/safety/safety_rules_test.rs
Labels: consensus

#281 [benchamrk] Let AC clients submit TXNs with slight time difference.
  benchmark/Cargo.toml
  benchmark/src/bin/ruben.rs
  benchmark/src/grpc_helpers.rs
  benchmark/src/lib.rs
  benchmark/src/ruben_opt.rs
Labels: benchmark, enhancement

#296 [language] report join failures in type and memory safety analysis
  language/bytecode_verifier/src/absint.rs
  language/bytecode_verifier/src/type_memory_safety.rs
  language/functional_tests/tests/testsuite/commands/join_failure.mvir
Labels: bug, language

#282 [benchmark] Implement per-account waiting mechanism.
  benchmark/src/bin/ruben.rs
  benchmark/src/grpc_helpers.rs
  benchmark/src/lib.rs
Labels: benchmark, enhancement

#317 [cluster_test] Health checks for cluster test
  testsuite/cluster_test/Cargo.toml
  testsuite/cluster_test/src/cluster.rs
  testsuite/cluster_test/src/experiments/mod.rs
  testsuite/cluster_test/src/experiments/reboot_random_validator.rs
  testsuite/cluster_test/src/health/commit_check.rs
  testsuite/cluster_test/src/health/liveness_check.rs
  testsuite/cluster_test/src/health/log_tail.rs
  testsuite/cluster_test/src/health/mod.rs
  testsuite/cluster_test/src/instance.rs
  testsuite/cluster_test/src/main.rs
Labels: cluster_test

#318 [mempool] Only record local TXN's e2e latency.
  mempool/src/core_mempool/mempool.rs
  mempool/src/core_mempool/unit_tests/common.rs
  mempool/src/core_mempool/unit_tests/core_mempool_test.rs
  mempool/src/core_mempool/unit_tests/shared_mempool_test.rs
Labels: benchmark

#334 [compiler] Implement a command line option to fetch the dependency li…
  language/compiler/src/main.rs
Labels: language

#321 [Consensus] Introduce SyncInfo struct for accumulating sync information
  consensus/src/chained_bft/chained_bft_smr.rs
  consensus/src/chained_bft/consensus_types/mod.rs
  consensus/src/chained_bft/consensus_types/sync_info.rs
  consensus/src/chained_bft/consensus_types/timeout_msg.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/local_pacemaker.rs
  consensus/src/chained_bft/liveness/local_pacemaker_test.rs
  consensus/src/chained_bft/liveness/mod.rs
  consensus/src/chained_bft/liveness/pacemaker.rs
  consensus/src/chained_bft/liveness/pacemaker_timeout_manager.rs
  consensus/src/chained_bft/liveness/pacemaker_timeout_manager_test.rs
  consensus/src/chained_bft/liveness/proposer_election.rs
  consensus/src/chained_bft/network.rs
  consensus/src/chained_bft/sync_manager.rs
  network/src/proto/consensus.proto
  network/src/proto/mod.rs
Labels: consensus

#329 [network] drop messages when message queue is full
  common/channel/src/lib.rs
  common/channel/src/test.rs
  network/src/protocols/direct_send/mod.rs
Labels: network

#302 [VM] Added Native Structs to the file format
  language/bytecode_verifier/invalid_mutations/src/bounds.rs
  language/bytecode_verifier/src/check_duplication.rs
  language/bytecode_verifier/src/resources.rs
  language/bytecode_verifier/src/stack_usage_verifier.rs
  language/bytecode_verifier/src/struct_defs.rs
  language/bytecode_verifier/src/type_memory_safety.rs
  language/compiler/ir_to_bytecode/src/compiler.rs
  language/stackless_bytecode_generator/src/stackless_bytecode_generator.rs
  language/tools/cost_synthesis/src/global_state/inhabitor.rs
  language/tools/cost_synthesis/src/module_generator.rs
  language/tools/cost_synthesis/src/stack_generator.rs
  language/vm/src/check_bounds.rs
  language/vm/src/deserializer.rs
  language/vm/src/file_format.rs
  language/vm/src/file_format_common.rs
  language/vm/src/printers.rs
  language/vm/src/proptest_types.rs
  language/vm/src/serializer.rs
  language/vm/src/views.rs
  language/vm/vm_genesis/genesis/genesis.blob
  language/vm/vm_runtime/src/code_cache/module_cache.rs
  language/vm/vm_runtime/src/gas_meter.rs
  language/vm/vm_runtime/src/loaded_data/loaded_module.rs
  language/vm/vm_runtime/src/txn_executor.rs
Labels: enhancement, language

#313 [crypto] Converts the config module to use the nextgen_crypto API
  config/Cargo.toml
  config/config_builder/src/swarm_config.rs
  config/config_builder/src/util.rs
  config/src/config.rs
  config/src/trusted_peers.rs
  consensus/src/chained_bft/chained_bft_consensus_provider.rs
  consensus/src/consensus_provider.rs
  crypto/secret_service/Cargo.toml
  libra_node/Cargo.toml
  libra_node/src/main.rs
  libra_node/src/main_node.rs
  libra_swarm/src/swarm.rs
Labels: crypto

#333 [network] display pairwise direct send queue counters
  terraform/templates/dashboards/network.json
Labels: network

#340 [benchmark] Move Account/TXN generation logic out of Benchmarker.
  benchmark/src/bin/ruben.rs
  benchmark/src/lib.rs
  benchmark/src/txn_generator.rs
Labels: benchmark

#314 [consensus] ProcessProposalResult now contains a better signal for success
  consensus/src/chained_bft/chained_bft_smr.rs
  consensus/src/chained_bft/event_processor.rs
Labels: consensus

#353 [benchmark] Remove NodeDebugClient from Benchmarker
  benchmark/src/bin/ruben.rs
  benchmark/src/lib.rs
  benchmark/src/ruben_opt.rs
Labels: benchmark, bug

#363 [storage] Add pop() method and related tests to NibblePath
  storage/sparse_merkle/src/nibble_path/mod.rs
  storage/sparse_merkle/src/nibble_path/nibble_path_test.rs
Labels: storage

#373 [crypto] Switches LedgerInfo to nextgen_crypto
  consensus/src/chained_bft/block_storage/block_tree.rs
  consensus/src/chained_bft/safety/vote_msg.rs
  consensus/src/state_synchronizer/sync_test.rs
  crypto/nextgen_crypto/src/ed25519.rs
  types/src/ledger_info.rs
  types/src/proptest_types.rs
Labels: breaking-changes, crypto

#383 [crypto] Extra functional tests for threshold sig verification
  language/functional_tests/tests/testsuite/natives/signature_ed25519_bad_msg.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_bad_msg.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_bad_pk.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_bad_sig.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_bad_sig_size.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_no_matching_pk.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_oversized_bitmap.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_oversized_pk.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_undersized_bitmap.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_zero_bitmap_failure.mvir
  language/stdlib/natives/src/signature.rs
Labels: bug, crypto

#392 [cluster_test] Write event log file
  testsuite/cluster_test/src/health/log_tail.rs
Labels: cluster_test

#382 [gitignore] remove IDE-related lines
  .gitignore
Labels: enhancement

#394 [VM] Restructure native functions
  Cargo.toml
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_bad_msg.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_bad_pk.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_bad_sig.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_bad_sig_size.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_no_matching_pk.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_oversized_bitmap.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_oversized_pk.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_undersized_bitmap.mvir
  language/functional_tests/tests/testsuite/natives/threshold_signature_ed25519_zero_bitmap_failure.mvir
  language/stdlib/natives/Cargo.toml
  language/stdlib/natives/src/dispatch.rs
  language/stdlib/natives/src/hash.rs
  language/stdlib/natives/src/primitive_helpers.rs
  language/stdlib/natives/src/signature.rs
  language/stdlib/natives/src/vector.rs
  language/tools/cost_synthesis/Cargo.toml
  language/tools/cost_synthesis/src/bin/main.rs
  language/tools/cost_synthesis/src/natives.rs
  language/vm/vm_runtime/Cargo.toml
  language/vm/vm_runtime/src/execution_stack.rs
  language/vm/vm_runtime/src/lib.rs
  language/vm/vm_runtime/src/native_functions/dispatch.rs
  language/vm/vm_runtime/src/native_functions/hash.rs
  language/vm/vm_runtime/src/native_functions/mod.rs
  language/vm/vm_runtime/src/native_functions/primitive_helpers.rs
  language/vm/vm_runtime/src/native_functions/signature.rs
  language/vm/vm_runtime/src/native_functions/vector.rs
  language/vm/vm_runtime/src/txn_executor.rs
  language/vm/vm_runtime/src/value.rs
Labels: enhancement, language

#367 [Consensus] Send sync info to help lagging remote peers
  common/logger/src/security.rs
  consensus/src/chained_bft/chained_bft_smr.rs
  consensus/src/chained_bft/chained_bft_smr_test.rs
  consensus/src/chained_bft/consensus_types/sync_info.rs
  consensus/src/chained_bft/consensus_types/timeout_msg.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/liveness/local_pacemaker.rs
  consensus/src/chained_bft/liveness/pacemaker.rs
  consensus/src/chained_bft/network.rs
  consensus/src/chained_bft/network_tests.rs
  consensus/src/chained_bft/sync_manager.rs
  consensus/src/counters.rs
Labels: consensus

#407 [crypto] Adds traits for DH key exchange + X25519 implementation for nextgen_crypto
  crypto/nextgen_crypto/src/lib.rs
  crypto/nextgen_crypto/src/traits.rs
  crypto/nextgen_crypto/src/unit_tests/mod.rs
  crypto/nextgen_crypto/src/unit_tests/x25519_test.rs
  crypto/nextgen_crypto/src/x25519.rs
Labels: crypto, refactoring

#349 [storage] pruner
  storage/libradb/src/lib.rs
  storage/libradb/src/pruner/mod.rs
  storage/libradb/src/pruner/test.rs
  storage/libradb/src/state_store/mod.rs
  storage/libradb/src/state_store/state_store_test.rs
Labels: storage

#386 Vote in timeout msg
  consensus/src/chained_bft/chained_bft_smr.rs
  consensus/src/chained_bft/chained_bft_smr_test.rs
  consensus/src/chained_bft/consensus_types/timeout_msg.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/local_pacemaker_test.rs
  consensus/src/chained_bft/liveness/pacemaker_timeout_manager_test.rs
  consensus/src/counters.rs
  network/src/proto/consensus.proto
Labels: consensus
