Repository diem/diem, pull requests merged in 2019-08, with the labels that each got.

#375 [network] add timeout for inbound consensus/mempool events
  common/channel/Cargo.toml
  common/channel/src/lib.rs
  common/channel/src/test.rs
  consensus/src/chained_bft/network.rs
  network/src/connectivity_manager/test.rs
  network/src/peer_manager/mod.rs
  network/src/validator_network/network_builder.rs
Labels: network

#416 [mempool] Propagate updated transaction to shared mempool
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/core_mempool/unit_tests/shared_mempool_test.rs
Labels: mempool

#357 [benchmark] Introduce LoadGenerator with two example TXN generators
  benchmark/src/bin/ruben.rs
  benchmark/src/lib.rs
  benchmark/src/ruben_opt.rs
  benchmark/src/txn_generator.rs
Labels: benchmark

#378 [storage][jellyfish_merkle][1/3] Define node_type in jellyfish merkle tree
  Cargo.toml
  storage/jellyfish_merkle/Cargo.toml
  storage/jellyfish_merkle/src/lib.rs
  storage/jellyfish_merkle/src/node_type/mod.rs
  storage/jellyfish_merkle/src/node_type/node_type_test.rs
  storage/sparse_merkle/src/lib.rs
  types/src/account_state_blob/mod.rs
Labels: storage

#405 [VM] Verify native functions
  language/bytecode_verifier/Cargo.toml
  language/bytecode_verifier/src/verifier.rs
  language/compiler/ir_to_bytecode/syntax/src/syntax.lalrpop
  language/compiler/src/main.rs
  language/functional_tests/tests/testsuite/natives/clever_non_existant_native_function.mvir
  language/functional_tests/tests/testsuite/natives/non_existant_native_function.mvir
  language/stdlib/src/lib.rs
  language/vm/src/views.rs
  language/vm/vm_runtime/src/txn_executor.rs
  language/vm/vm_runtime/vm_runtime_types/src/native_functions/dispatch.rs
  types/src/account_address.rs
Labels: bug, language

#427 [storage][jellyfish][2/3] tree cache
  storage/jellyfish_merkle/src/lib.rs
  storage/jellyfish_merkle/src/mock_tree_store.rs
  storage/jellyfish_merkle/src/node_type/mod.rs
  storage/jellyfish_merkle/src/tree_cache/mod.rs
  storage/jellyfish_merkle/src/tree_cache/tree_cache_test.rs
  storage/sparse_merkle/src/nibble_path/mod.rs
Labels: storage

#294 [benchmark] Submit TXNs in constant rate.
  benchmark/src/bin/ruben.rs
  benchmark/src/grpc_helpers.rs
  benchmark/src/lib.rs
  benchmark/src/ruben_opt.rs
  benchmark/src/submit_rate.rs
Labels: benchmark, enhancement

#413 [VM] Verify native struct
  language/bytecode_verifier/src/verifier.rs
  language/vm/src/views.rs
  language/vm/vm_runtime/vm_runtime_types/src/lib.rs
  language/vm/vm_runtime/vm_runtime_types/src/native_functions/dispatch.rs
  language/vm/vm_runtime/vm_runtime_types/src/native_structs/dispatch.rs
  language/vm/vm_runtime/vm_runtime_types/src/native_structs/mod.rs
Labels: bug, language

#415 [MoveIR] Added Native Structs to the IR
  language/compiler/ir_to_bytecode/src/compiler.rs
  language/compiler/ir_to_bytecode/syntax/src/ast.rs
  language/compiler/ir_to_bytecode/syntax/src/syntax.lalrpop
  language/functional_tests/tests/testsuite/natives/non_existant_native_struct.mvir
  language/stdlib/modules/vector.mvir
Labels: enhancement, language

#446 [crypto] remove derive_deref dependency from crypto crate
  crypto/legacy_crypto/Cargo.toml
  crypto/legacy_crypto/src/x25519.rs
  crypto/nextgen_crypto/Cargo.toml
  crypto/nextgen_crypto/src/bls12381.rs
  crypto/nextgen_crypto/src/vrf/ecvrf.rs
  crypto/nextgen_crypto/src/x25519.rs
  crypto/secret_service/Cargo.toml
  crypto/secret_service/src/crypto_wrappers.rs
Labels: crypto

#435 [benchmark] Make debug_address non-required argument.
  benchmark/Cargo.toml
  benchmark/src/lib.rs
  benchmark/src/ruben_opt.rs
Labels: benchmark

#453 [VM] Use account_config::core_code_address() in natives
  language/vm/vm_runtime/vm_runtime_types/src/native_functions/dispatch.rs
  language/vm/vm_runtime/vm_runtime_types/src/native_structs/dispatch.rs
Labels: language

#460 [libratest] Fix launch_swarm in throughput test.
  testsuite/tests/libratest/throughput_test.rs
Labels: bug

#424 [storage][schema] jellyfish merkle node schema
  storage/jellyfish_merkle/Cargo.toml
  storage/jellyfish_merkle/src/lib.rs
  storage/jellyfish_merkle/src/node_type/mod.rs
  storage/libradb/Cargo.toml
  storage/libradb/src/lib.rs
  storage/libradb/src/schema/jellyfish_merkle_node/mod.rs
  storage/libradb/src/schema/jellyfish_merkle_node/test.rs
  storage/libradb/src/schema/mod.rs
  storage/sparse_merkle/src/nibble_path/mod.rs
  storage/sparse_merkle/src/nibble_path/nibble_path_test.rs
Labels: storage

#441 [storage][jellyfish][3/3] Jellyfish Sparse Merkle Tree implementation
  storage/jellyfish_merkle/src/jellyfish_merkle_test.rs
  storage/jellyfish_merkle/src/lib.rs
  storage/jellyfish_merkle/src/mock_tree_store.rs
  storage/jellyfish_merkle/src/node_type/mod.rs
  storage/jellyfish_merkle/src/tree_cache/mod.rs
  storage/jellyfish_merkle/src/tree_cache/tree_cache_test.rs
  storage/sparse_merkle/src/nibble_path/mod.rs
Labels: storage

#417 [crypto] Update mnemonic rules for compatibility with BIP39
  client/libra_wallet/Cargo.toml
  client/libra_wallet/src/mnemonic.rs
Labels: crypto, refactoring, security

#464 [crypto] apply nextgen_crypto x25519 across Libra
  config/config_builder/src/util.rs
  config/src/config.rs
  config/src/trusted_peers.rs
  consensus/src/state_synchronizer/sync_test.rs
  crypto/nextgen_crypto/src/ed25519.rs
  crypto/nextgen_crypto/src/unit_tests/x25519_test.rs
  crypto/nextgen_crypto/src/x25519.rs
  network/benches/network_bench.rs
  network/noise/Cargo.toml
  network/noise/src/lib.rs
  network/src/common.rs
  network/src/connectivity_manager/test.rs
  network/src/protocols/discovery/test.rs
  network/src/transport.rs
  network/src/validator_network/consensus.rs
  network/src/validator_network/network_builder.rs
  network/src/validator_network/test.rs
  types/src/validator_public_keys.rs
Labels: breaking-changes, crypto, refactoring

#480 [storage] move codec for NodeKey from schema to jellyfish merkle
  storage/jellyfish_merkle/Cargo.toml
  storage/jellyfish_merkle/src/node_type/mod.rs
  storage/libradb/src/schema/jellyfish_merkle_node/mod.rs
Labels: storage

#477 [storage] Pruner optimiaztion: seek to first unpruned record faster
  storage/libradb/src/pruner/mod.rs
  storage/libradb/src/schema/retired_state_record/mod.rs
  storage/libradb/src/state_store/state_store_test.rs
Labels: storage

#485 [storage] use Ordering::Relaxed everywhere for Prunner::worker_progress
  storage/libradb/src/pruner/mod.rs
Labels: storage

#489 [consensus] Resolve deadlock between sync_and_process_proposal and process_winning_proposal
  consensus/src/chained_bft/chained_bft_smr.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/proposer_election.rs
  consensus/src/chained_bft/liveness/rotating_proposer_election.rs
  consensus/src/chained_bft/liveness/rotating_proposer_test.rs
Labels: consensus

#412 [Consensus] Introduce NIL Blocks
  common/canonical_serialization/src/canonical_serialization_test.rs
  common/canonical_serialization/src/lib.rs
  consensus/src/chained_bft/block_storage/block_store_test.rs
  consensus/src/chained_bft/block_storage/block_tree.rs
  consensus/src/chained_bft/consensus_types/block.rs
  consensus/src/chained_bft/consensus_types/block_test.rs
  consensus/src/chained_bft/consensus_types/proposal_info.rs
  consensus/src/chained_bft/event_processor.rs
Labels: consensus

#491 [storage][jellyfish] create null node to deal with empty tree case
  storage/jellyfish_merkle/src/jellyfish_merkle_test.rs
  storage/jellyfish_merkle/src/lib.rs
  storage/jellyfish_merkle/src/node_type/mod.rs
  storage/jellyfish_merkle/src/tree_cache/mod.rs
  storage/jellyfish_merkle/src/tree_cache/tree_cache_test.rs
Labels: storage

#498 [network] Fix panic when opening too many substreams
  network/netcore/src/multiplexing/yamux.rs
  network/src/peer_manager/mod.rs
  network/src/protocols/rpc/error.rs
Labels: bug, network

#476 [consensus] replace ProposerInfo with Author
  consensus/src/chained_bft/chained_bft_consensus_provider.rs
  consensus/src/chained_bft/chained_bft_smr.rs
  consensus/src/chained_bft/chained_bft_smr_test.rs
  consensus/src/chained_bft/consensus_types/mod.rs
  consensus/src/chained_bft/consensus_types/proposal_msg.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/proposer_election.rs
  consensus/src/chained_bft/liveness/rotating_proposer_election.rs
  consensus/src/chained_bft/liveness/rotating_proposer_test.rs
  consensus/src/chained_bft/network.rs
  consensus/src/chained_bft/network_tests.rs
  consensus/src/chained_bft/proto_test.rs
  network/benches/network_bench.rs
  network/src/proto/consensus.proto
Labels: consensus

#492 [cluster_test] Improve liveness check
  testsuite/cluster_test/src/cluster.rs
  testsuite/cluster_test/src/effects/reboot.rs
  testsuite/cluster_test/src/health/liveness_check.rs
  testsuite/cluster_test/src/health/mod.rs
  testsuite/cluster_test/src/instance.rs
  testsuite/cluster_test/src/main.rs
Labels: cluster_test

#502 [Storage] Remove unused dead_code annotation
  storage/libradb/src/lib.rs
Labels: storage

#497 [storage] fix that any::<NibblePath>() always returns paths shorter t…
  storage/sparse_merkle/src/nibble_path/mod.rs
  storage/sparse_merkle/src/nibble_path/nibble_path_test.rs
Labels: storage

#504 [consensus] Make some block store functions non-async
  consensus/src/chained_bft/block_storage/block_store.rs
  consensus/src/chained_bft/block_storage/block_store_test.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/proposal_generator_test.rs
  consensus/src/chained_bft/sync_manager.rs
Labels: consensus

#509 [consensus] remove last_committed_round from safety_rules
  consensus/src/chained_bft/chained_bft_smr.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/local_pacemaker.rs
  consensus/src/chained_bft/liveness/pacemaker.rs
  consensus/src/chained_bft/safety/safety_rules.rs
  consensus/src/chained_bft/safety/safety_rules_test.rs
Labels: consensus

#445 [Consensus] Vote for NIL blocks upon timeout
  consensus/src/chained_bft/block_storage/block_store.rs
  consensus/src/chained_bft/block_storage/mod.rs
  consensus/src/chained_bft/chained_bft_smr_test.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/proposal_generator.rs
  consensus/src/chained_bft/safety/safety_rules.rs
Labels: consensus

#510 [consensus][fix] send highest timeout certificate with TimeoutMsg
  consensus/src/chained_bft/event_processor.rs
Labels: consensus

#519 [types] Make LedgerInfoWithSignatures parametric in the Signature Scheme type
  client/src/grpc_client.rs
  consensus/src/chained_bft/block_storage/block_tree.rs
  consensus/src/chained_bft/chained_bft_smr_test.rs
  consensus/src/chained_bft/consensus_types/quorum_cert.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/test_utils/mock_state_computer.rs
  consensus/src/chained_bft/test_utils/mod.rs
  consensus/src/state_computer.rs
  consensus/src/state_replication.rs
  execution/execution_client/Cargo.toml
  execution/execution_client/src/lib.rs
  execution/execution_proto/Cargo.toml
  execution/execution_proto/src/lib.rs
  execution/execution_tests/src/lib.rs
  execution/executor/src/block_processor.rs
  execution/executor/src/executor_test.rs
  execution/executor/src/lib.rs
  execution/executor/src/transaction_block.rs
  state_synchronizer/Cargo.toml
  state_synchronizer/src/coordinator.rs
  state_synchronizer/src/downloader.rs
  state_synchronizer/src/synchronizer.rs
  storage/libradb/Cargo.toml
  storage/libradb/src/ledger_store/ledger_info_test.rs
  storage/libradb/src/ledger_store/mod.rs
  storage/libradb/src/lib.rs
  storage/libradb/src/libradb_test.rs
  storage/libradb/src/mock_genesis/mod.rs
  storage/libradb/src/schema/ledger_info/mod.rs
  storage/libradb/src/schema/ledger_info/test.rs
  storage/libradb/src/test_helper.rs
  storage/storage_client/Cargo.toml
  storage/storage_client/src/lib.rs
  storage/storage_proto/Cargo.toml
  storage/storage_proto/src/lib.rs
  storage/storage_service/Cargo.toml
  storage/storage_service/src/mocks/mock_storage_client.rs
  types/src/get_with_proof.rs
  types/src/ledger_info.rs
  types/src/proptest_types.rs
  types/src/unit_tests/get_with_proof_proto_conversion_test.rs
  types/src/unit_tests/ledger_info_proto_conversion_test.rs
  types/src/unit_tests/validator_change_proto_conversion_test.rs
  types/src/validator_change.rs
Labels: crypto

#493 [crypto] Use nextgen-crypto signing across Libra
  client/Cargo.toml
  config/config_builder/Cargo.toml
  config/generate_keypair/Cargo.toml
  crypto/nextgen_crypto/src/ed25519.rs
  language/e2e_tests/Cargo.toml
  language/e2e_tests/src/gas_costs.rs
  language/functional_tests/_old_move_ir_tests/src/tests/key_rotation.rs
  language/tools/cost_synthesis/Cargo.toml
  language/tools/cost_synthesis/src/global_state/account.rs
  language/vm/Cargo.toml
  language/vm/src/transaction_metadata.rs
  language/vm/vm_genesis/src/lib.rs
  language/vm/vm_runtime/Cargo.toml
  language/vm/vm_runtime/src/txn_executor.rs
  language/vm/vm_runtime/src/unit_tests/runtime_tests.rs
  storage/libradb/Cargo.toml
  storage/libradb/src/event_store/test.rs
  storage/libradb/src/mock_genesis/mod.rs
  storage/libradb/src/schema/validator/mod.rs
  storage/libradb/src/schema/validator/test.rs
  storage/storage_service/Cargo.toml
  storage/storage_service/src/mocks/mock_storage_client.rs
Labels: crypto, refactoring

#535 [VM] Quick fix for renaming Opcode constants
  language/vm/src/deserializer.rs
  language/vm/src/file_format_common.rs
  language/vm/src/serializer.rs
Labels: language

#447 [VM] Restructure Kinds
  language/bytecode_verifier/src/abstract_state.rs
  language/bytecode_verifier/src/resources.rs
  language/bytecode_verifier/src/signature.rs
  language/bytecode_verifier/src/type_memory_safety.rs
  language/bytecode_verifier/src/verifier.rs
  language/compiler/ir_to_bytecode/src/compiler.rs
  language/compiler/ir_to_bytecode/syntax/src/ast.rs
  language/compiler/ir_to_bytecode/syntax/src/syntax.lalrpop
  language/tools/cost_synthesis/src/global_state/account.rs
  language/tools/cost_synthesis/src/module_generator.rs
  language/tools/cost_synthesis/src/stack_generator.rs
  language/vm/src/deserializer.rs
  language/vm/src/file_format.rs
  language/vm/src/file_format_common.rs
  language/vm/src/printers.rs
  language/vm/src/proptest_types.rs
  language/vm/src/proptest_types/signature.rs
  language/vm/src/resolver.rs
  language/vm/src/serializer.rs
  language/vm/src/views.rs
  language/vm/vm_runtime/src/unit_tests/module_cache_tests.rs
  language/vm/vm_runtime/src/unit_tests/runtime_tests.rs
  language/vm/vm_runtime/vm_runtime_types/src/native_functions/dispatch.rs
  language/vm/vm_runtime/vm_runtime_types/src/native_structs/dispatch.rs
Labels: breaking-changes, language

#516 [storage][execution] Switch to Jellyfish Merkle Tree
  execution/executor/src/block_processor.rs
  execution/executor/src/lib.rs
  storage/jellyfish_merkle/src/jellyfish_merkle_test.rs
  storage/jellyfish_merkle/src/lib.rs
  storage/jellyfish_merkle/src/mock_tree_store.rs
  storage/jellyfish_merkle/src/tree_cache/mod.rs
  storage/jellyfish_merkle/src/tree_cache/tree_cache_test.rs
  storage/libradb/src/lib.rs
  storage/libradb/src/pruner/mod.rs
  storage/libradb/src/pruner/test.rs
  storage/libradb/src/schema/mod.rs
  storage/libradb/src/schema/retired_state_record/mod.rs
  storage/libradb/src/schema/retired_state_record/test.rs
  storage/libradb/src/state_store/mod.rs
  storage/libradb/src/state_store/state_store_test.rs
  storage/libradb/src/test_helper.rs
  storage/storage_client/src/lib.rs
  storage/storage_client/src/state_view.rs
  storage/storage_proto/src/lib.rs
  storage/storage_proto/src/proto/storage.proto
  storage/storage_service/src/lib.rs
  storage/storage_service/src/mocks/mock_storage_client.rs
  vm_validator/src/vm_validator.rs
Labels: breaking-changes, execution, storage

#481 [Consensus] Process QCs not only from proposals
  consensus/src/chained_bft/chained_bft_smr_test.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/local_pacemaker.rs
  consensus/src/chained_bft/liveness/local_pacemaker_test.rs
  consensus/src/chained_bft/liveness/pacemaker.rs
Labels: consensus

#542 [crypto] Remove obsolete legacy_crypto
  config/src/config.rs
  config/src/trusted_peers.rs
  crypto/legacy_crypto/src/lib.rs
  crypto/legacy_crypto/src/signing.rs
  crypto/legacy_crypto/src/unit_tests/mod.rs
  crypto/legacy_crypto/src/unit_tests/signing_test.rs
  crypto/legacy_crypto/src/unit_tests/x25519_test.rs
  crypto/legacy_crypto/src/utils.rs
  crypto/legacy_crypto/src/x25519.rs
  crypto/nextgen_crypto/src/ed25519.rs
  crypto/secret_service/src/proto/mod.rs
  network/src/protocols/discovery/mod.rs
  storage/libradb/src/event_store/test.rs
  types/src/account_address.rs
Labels: breaking-changes, crypto

#538 [storage] remove sparse_merkle
  Cargo.toml
  storage/README.md
  storage/jellyfish_merkle/Cargo.toml
  storage/jellyfish_merkle/src/lib.rs
  storage/jellyfish_merkle/src/nibble/mod.rs
  storage/jellyfish_merkle/src/nibble/nibble_path_test.rs
  storage/jellyfish_merkle/src/node_type/mod.rs
  storage/jellyfish_merkle/src/tree_cache/tree_cache_test.rs
  storage/libradb/Cargo.toml
  storage/libradb/src/lib.rs
  storage/libradb/src/schema/account_state/mod.rs
  storage/libradb/src/schema/account_state/test.rs
  storage/libradb/src/schema/mod.rs
  storage/libradb/src/schema/state_merkle_node/mod.rs
  storage/libradb/src/schema/state_merkle_node/test.rs
  storage/sparse_merkle/Cargo.toml
  storage/sparse_merkle/src/lib.rs
  storage/sparse_merkle/src/mock_tree_store.rs
  storage/sparse_merkle/src/node_serde/mod.rs
  storage/sparse_merkle/src/node_serde/node_serde_test.rs
  storage/sparse_merkle/src/node_type/mod.rs
  storage/sparse_merkle/src/node_type/node_type_test.rs
  storage/sparse_merkle/src/sparse_merkle_test.rs
  storage/sparse_merkle/src/tree_cache/mod.rs
  storage/sparse_merkle/src/tree_cache/tree_cache_test.rs
Labels: storage

#545 [storage] create Nibble to represent u4
  storage/jellyfish_merkle/src/jellyfish_merkle_test.rs
  storage/jellyfish_merkle/src/nibble/mod.rs
  storage/jellyfish_merkle/src/nibble/nibble_path_test.rs
  storage/jellyfish_merkle/src/node_type/mod.rs
  storage/jellyfish_merkle/src/node_type/node_type_test.rs
Labels: storage

#547 [Consensus][small] Fix `wait_before_vote` function
  consensus/src/chained_bft/event_processor.rs
  consensus/src/util/time_service.rs
Labels: consensus

#546 [crypto] Fix serialization/validation TODOs in bls12381
  crypto/nextgen_crypto/src/bls12381.rs
  crypto/nextgen_crypto/src/unit_tests/bls12381_test.rs
Labels: crypto

#554 [storage] assert the validity of an internal node at the creation
  storage/jellyfish_merkle/src/lib.rs
  storage/jellyfish_merkle/src/node_type/mod.rs
  storage/jellyfish_merkle/src/node_type/node_type_test.rs
Labels: storage

#559 [Consensus][small] Pacemaker timeout calculations ignore nil blocks
  consensus/src/chained_bft/event_processor.rs
Labels: consensus

#560 [crypto] Fix BLS comments
  crypto/nextgen_crypto/src/bls12381.rs
Labels: crypto

#563 [storage] rename module retired_state_record to stale_node_index
  storage/libradb/src/pruner/mod.rs
  storage/libradb/src/schema/mod.rs
  storage/libradb/src/schema/stale_node_index/mod.rs
  storage/libradb/src/schema/stale_node_index/test.rs
  storage/libradb/src/state_store/mod.rs
Labels: storage

#506 [Storage] Cache latest ledger info in memory
  storage/libradb/Cargo.toml
  storage/libradb/src/ledger_store/mod.rs
  storage/libradb/src/lib.rs
Labels: storage

#562 [cluster_test] Re-deploy validators when image hash changes
  testsuite/cluster_test/Cargo.toml
  testsuite/cluster_test/src/aws.rs
  testsuite/cluster_test/src/deployment.rs
  testsuite/cluster_test/src/health/log_tail.rs
  testsuite/cluster_test/src/lib.rs
  testsuite/cluster_test/src/main.rs
Labels: cluster_test

#569 [dashboard] storage: add a few panels
  terraform/templates/dashboards/storage.json
Labels: storage

#580 [Consensus][small] Nil block timestamp
  consensus/src/chained_bft/block_storage/block_store.rs
  consensus/src/chained_bft/block_storage/mod.rs
  consensus/src/chained_bft/consensus_types/block.rs
  consensus/src/chained_bft/consensus_types/block_test.rs
Labels: consensus

#442 [libra_swarm] Fix path error when launch attempt fails
  libra_swarm/src/swarm.rs
Labels: bug

#241 Update README.md after compiler split
  language/README.md
Labels: cla

#347 [vm] Implement Event
  client/src/client_proxy.rs
  client/src/grpc_client.rs
  language/compiler/ir_to_bytecode/syntax/src/syntax.lalrpop
  language/compiler/src/unit_tests/stdlib_scripts.rs
  language/e2e_tests/src/account.rs
  language/e2e_tests/src/executor.rs
  language/e2e_tests/src/gas_costs.rs
  language/e2e_tests/src/tests/mint.rs
  language/e2e_tests/src/tests/peer_to_peer.rs
  language/functional_tests/tests/testsuite/examples/multiple_transactions.mvir
  language/functional_tests/tests/testsuite/global_ref_count/decrement_emit_event.mvir
  language/stdlib/modules/event.mvir
  language/stdlib/modules/libra_account.mvir
  language/stdlib/src/stdlib.rs
  language/vm/src/errors.rs
  language/vm/vm_genesis/genesis/genesis.blob
  language/vm/vm_runtime/src/txn_executor.rs
  language/vm/vm_runtime/vm_runtime_types/src/native_functions/dispatch.rs
  language/vm/vm_runtime/vm_runtime_types/src/unit_tests/vm_types.rs
  storage/libradb/src/event_store/test.rs
  storage/libradb/src/lib.rs
  storage/libradb/src/libradb_test.rs
  storage/storage_service/src/mocks/mock_storage_client.rs
  types/src/account_config.rs
  types/src/account_state_blob/mod.rs
  types/src/byte_array.rs
  types/src/contract_event.rs
  types/src/get_with_proof.rs
  types/src/proptest_types.rs
  types/src/proto/vm_errors.proto
  types/src/test_helpers/transaction_test_helpers.rs
  types/src/vm_error.rs
Labels: breaking-changes, language, storage

#533 [crypto] Support external transaction signer
  client/libra_wallet/src/wallet_library.rs
  client/src/client_proxy.rs
  client/src/lib.rs
  testsuite/Cargo.toml
  testsuite/tests/libratest/smoke_test.rs
  types/src/transaction_helpers.rs
Labels: cla, crypto, enhancement

#591 [storage][doc] Jellyfish merkle
  storage/jellyfish_merkle/src/lib.rs
Labels: storage

#598 [vm] Cleanup the deprecated EmitEvent instruction.
  language/bytecode_verifier/README.md
  language/bytecode_verifier/invalid_mutations/src/bounds/code_unit.rs
  language/bytecode_verifier/src/stack_usage_verifier.rs
  language/bytecode_verifier/src/type_memory_safety.rs
  language/compiler/ir_to_bytecode/src/compiler.rs
  language/compiler/ir_to_bytecode/syntax/src/ast.rs
  language/stackless_bytecode/generator/src/stackless_bytecode.rs
  language/stackless_bytecode/generator/src/stackless_bytecode_generator.rs
  language/tools/cost_synthesis/src/bin/main.rs
  language/tools/cost_synthesis/src/bytecode_specifications/stack_transition_info.rs
  language/vm/src/check_bounds.rs
  language/vm/src/deserializer.rs
  language/vm/src/file_format.rs
  language/vm/src/file_format_common.rs
  language/vm/src/gas_schedule.rs
  language/vm/src/proptest_types/functions.rs
  language/vm/src/serializer.rs
  language/vm/vm_genesis/genesis/genesis.blob
  language/vm/vm_runtime/src/gas_meter.rs
  language/vm/vm_runtime/src/txn_executor.rs
Labels: breaking-changes, language, move-ir-syntax-change

#589 [language][MoveIR] Added Parsing and Compiler Support for Acquires List
  language/compiler/ir_to_bytecode/src/compiler.rs
  language/compiler/ir_to_bytecode/syntax/src/ast.rs
  language/compiler/ir_to_bytecode/syntax/src/syntax.lalrpop
Labels: language, move-ir-syntax-change

#602 [language][MoveIR] Best Effort to Add acquires List to Move IR Tests
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_bad0.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_bad1.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_bad2.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_bad4.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_bad5.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_good.mvir
  language/functional_tests/tests/testsuite/builtins/get_missing_struct.mvir
  language/functional_tests/tests/testsuite/builtins/get_published_resource.mvir
  language/functional_tests/tests/testsuite/builtins/move_published_resource.mvir
  language/functional_tests/tests/testsuite/expressions/cant_deref_resource.mvir
  language/functional_tests/tests/testsuite/expressions/equality_reference_value.mvir
  language/functional_tests/tests/testsuite/global_ref_count/decrement_dereference.mvir
  language/functional_tests/tests/testsuite/global_ref_count/decrement_write.mvir
  language/functional_tests/tests/testsuite/libra_account/delegate_capability.mvir
  language/functional_tests/tests/testsuite/move_getting_started_examples/earmarked_libra.mvir
  language/functional_tests/tests/testsuite/mutation/mut_call_from_get_resource.mvir
  language/functional_tests/tests/testsuite/publish/resources_are_distinct_by_published_account.mvir
  language/functional_tests/tests/testsuite/wallets/wallet_module.mvir
  language/stackless_bytecode/bytecode_to_boogie/test_mvir/test-struct.mvir
  language/stdlib/modules/event.mvir
  language/stdlib/modules/libra_account.mvir
  language/stdlib/modules/libra_coin.mvir
  language/vm/vm_genesis/genesis/genesis.blob
Labels: language

#590 [cluster_test] Testing lifecycle for nightly image
  testsuite/cluster_test/Cargo.toml
  testsuite/cluster_test/src/cluster.rs
  testsuite/cluster_test/src/deployment.rs
  testsuite/cluster_test/src/experiments/mod.rs
  testsuite/cluster_test/src/health/log_tail.rs
  testsuite/cluster_test/src/lib.rs
  testsuite/cluster_test/src/main.rs
  testsuite/cluster_test/src/slack.rs
  testsuite/cluster_test/src/suite.rs
Labels: cluster_test

#567 [storage] change ledger_counter name related to jellyfish merkle
  storage/libradb/src/ledger_counters/mod.rs
  storage/libradb/src/ledger_counters/test.rs
  storage/libradb/src/state_store/mod.rs
  storage/libradb/src/state_store/state_store_test.rs
Labels: storage

#564 [benchmark] Remove debug_address option.
  benchmark/src/cli_opt.rs
Labels: benchmark

#609 [consensus] Cleanup unused, untested helper methods in consensus
  consensus/src/chained_bft/block_storage/block_store.rs
  consensus/src/chained_bft/block_storage/block_tree.rs
  consensus/src/chained_bft/block_storage/mod.rs
Labels: consensus

#641 [validator-sets] update dev validators config; update names of key files
  terraform/validator-sets/dev/genesis.blob
  terraform/validator-sets/dev/node.config.toml
  terraform/validator-sets/dev/validator_1e5d5a74b0fd09f601ac0fca2fe7d213704e02e51943d18cf25a546b8416e9e1.node.keys.toml
  terraform/validator-sets/dev/validator_57ff83747054695f2228042c26eb6a243ac73de1b9038aea103999480b076d45.node.keys.toml
  terraform/validator-sets/dev/validator_8deeeaed65f0cd7484a9e4e5ac51fbac548f2f71299a05e000156031ca78fb9f.node.keys.toml
  terraform/validator-sets/dev/validator_ab0d6a54ce9d7fc79c061f95883a308f9bdfc987262b6a34a360fdd788fcd9cd.node.keys.toml
  terraform/validators.tf
Labels: release-engineering

#638 [storage] fix counter name
  storage/libradb/src/ledger_counters/mod.rs
  storage/libradb/src/state_store/mod.rs
  storage/libradb/src/state_store/state_store_test.rs
Labels: storage

#557 [VM] Add Mutable and Immutable Field Borrow
  config/data/configs/node.config.toml
  language/bytecode_verifier/invalid_mutations/src/bounds/code_unit.rs
  language/bytecode_verifier/src/stack_usage_verifier.rs
  language/bytecode_verifier/src/type_memory_safety.rs
  language/compiler/ir_to_bytecode/src/compiler.rs
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_on_mut.mvir
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_on_mut_invalid.mvir
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_on_mut_trivial.mvir
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_on_mut_trivial_invalid.mvir
  language/stackless_bytecode/generator/src/stackless_bytecode_generator.rs
  language/tools/cost_synthesis/src/bin/main.rs
  language/tools/cost_synthesis/src/bytecode_specifications/stack_transition_info.rs
  language/tools/cost_synthesis/src/stack_generator.rs
  language/vm/src/check_bounds.rs
  language/vm/src/deserializer.rs
  language/vm/src/file_format.rs
  language/vm/src/file_format_common.rs
  language/vm/src/gas_schedule.rs
  language/vm/src/printers.rs
  language/vm/src/proptest_types/functions.rs
  language/vm/src/serializer.rs
  language/vm/vm_genesis/genesis/genesis.blob
  language/vm/vm_runtime/src/gas_meter.rs
  language/vm/vm_runtime/src/txn_executor.rs
Labels: breaking-changes, move-ir-syntax-change

#662 [storage] rename executor_startup_info to startup_info
  execution/executor/src/lib.rs
  storage/libradb/src/lib.rs
  storage/storage_client/src/lib.rs
  storage/storage_proto/src/lib.rs
  storage/storage_proto/src/proto/storage.proto
  storage/storage_proto/src/tests.rs
  storage/storage_service/src/lib.rs
  storage/storage_service/src/mocks/mock_storage_client.rs
Labels: storage

#667 [consensus] Remove future_lock dependency
  consensus/Cargo.toml
Labels: consensus

#658 [VM][Bytecode Verifier] Add check for acquired resources
  language/bytecode_verifier/src/acquires_list_verifier.rs
  language/bytecode_verifier/src/check_duplication.rs
  language/bytecode_verifier/src/code_unit_verifier.rs
  language/bytecode_verifier/src/lib.rs
  language/bytecode_verifier/src/type_memory_safety.rs
  language/compiler/ir_to_bytecode/syntax/src/syntax.lalrpop
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_1.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_2.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_3.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_duplicate_annotation.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_extraneous_annotation.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_invalid_1.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_invalid_2.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_invalid_3.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_invalid_annotation.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_missing_annotation.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_return_reference_1.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_acquires_return_reference_invalid_1.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_good.mvir
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_on_mut.mvir
  language/stdlib/modules/libra_coin.mvir
  language/vm/src/errors.rs
  language/vm/src/views.rs
  language/vm/vm_genesis/genesis/genesis.blob
  types/src/proto/vm_errors.proto
  types/src/unit_tests/vm_error_proto_conversion_test.rs
  types/src/vm_error.rs
Labels: language

#673 [storage] make node_cache sorted
  storage/jellyfish_merkle/src/jellyfish_merkle_test.rs
  storage/jellyfish_merkle/src/lib.rs
  storage/jellyfish_merkle/src/tree_cache/mod.rs
Labels: storage

#660 [Consensus] Proposer election with multiple proposers per round
  config/src/config.rs
  consensus/Cargo.toml
  consensus/src/chained_bft/chained_bft_smr.rs
  consensus/src/chained_bft/chained_bft_smr_test.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/mod.rs
  consensus/src/chained_bft/liveness/multi_proposer_election.rs
  consensus/src/chained_bft/liveness/multi_proposer_test.rs
Labels: consensus

#675 [config] update genesis.blob to match code
  terraform/validator-sets/100/genesis.blob
  terraform/validator-sets/60/genesis.blob
Labels: breaking-changes, dev-infra

#661 [language] Cfg trait
  language/bytecode_verifier/src/absint.rs
  language/bytecode_verifier/src/code_unit_verifier.rs
  language/bytecode_verifier/src/control_flow_graph.rs
  language/compiler/src/unit_tests/cfg_tests.rs
Labels: language

#674 [VM] Kill global ref counts
  language/vm/vm_runtime/src/txn_executor.rs
  language/vm/vm_runtime/vm_runtime_types/src/unit_tests/value_tests.rs
  language/vm/vm_runtime/vm_runtime_types/src/value.rs
Labels: language

#672 [language][VM] Add Mutable and Immutable Borrow Local
  config/data/configs/node.config.toml
  language/bytecode_verifier/invalid_mutations/src/bounds/code_unit.rs
  language/bytecode_verifier/src/stack_usage_verifier.rs
  language/bytecode_verifier/src/type_memory_safety.rs
  language/compiler/ir_to_bytecode/src/compiler.rs
  language/compiler/src/unit_tests/expression_tests.rs
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_loc.mvir
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_loc_invalid.mvir
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_loc_trivial.mvir
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_loc_trivial_invalid.mvir
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_on_mut.mvir
  language/functional_tests/tests/testsuite/borrow_tests/imm_borrow_on_mut_trivial.mvir
  language/functional_tests/tests/testsuite/builtins/freeze_on_imm.mvir
  language/functional_tests/tests/testsuite/expressions/multiple_return_values_extra_binding.mvir
  language/functional_tests/tests/testsuite/method_decorators/internal_function_invalid_call.mvir
  language/functional_tests/tests/testsuite/mutation/assign_local_struct_invalidated.mvir
  language/functional_tests/tests/testsuite/mutation/no_borrow_ref.mvir
  language/functional_tests/tests/testsuite/mutation/return_local_ref.mvir
  language/stackless_bytecode/generator/src/stackless_bytecode_generator.rs
  language/tools/cost_synthesis/src/bin/main.rs
  language/tools/cost_synthesis/src/bytecode_specifications/stack_transition_info.rs
  language/tools/cost_synthesis/src/stack_generator.rs
  language/tools/test_generation/src/summaries.rs
  language/tools/test_generation/src/transitions.rs
  language/tools/test_generation/tests/local_instructions.rs
  language/vm/src/check_bounds.rs
  language/vm/src/deserializer.rs
  language/vm/src/file_format.rs
  language/vm/src/file_format_common.rs
  language/vm/src/gas_schedule.rs
  language/vm/src/proptest_types/functions.rs
  language/vm/src/serializer.rs
  language/vm/vm_genesis/genesis/genesis.blob
  language/vm/vm_runtime/src/gas_meter.rs
  language/vm/vm_runtime/src/txn_executor.rs
Labels: breaking-changes, language

#668 [easy, consensus, types] Moving dependencies -> dev-dependencies when possible
  consensus/Cargo.toml
  consensus/src/chained_bft/consensus_types/block_test.rs
  language/vm/vm_runtime/vm_cache_map/Cargo.toml
  testsuite/libra_fuzzer/Cargo.toml
  types/Cargo.toml
Labels: consensus

#678 [storage] change jellyfish node_key encoding
  storage/jellyfish_merkle/src/node_type/mod.rs
Labels: storage

#682 [storage] change ledger_info key from Verison to epoch_num
  storage/libradb/src/ledger_store/ledger_info_test.rs
  storage/libradb/src/ledger_store/mod.rs
  storage/libradb/src/schema/ledger_info/mod.rs
Labels: storage

#397 [cluster_test] Introduce event! macro for structured events
  common/debug_interface/Cargo.toml
  common/debug_interface/src/json_log.rs
  common/debug_interface/src/lib.rs
  common/debug_interface/src/node_debug_service.rs
  common/debug_interface/src/proto/node_debug_interface.proto
  consensus/Cargo.toml
  consensus/src/chained_bft/event_processor.rs
  consensus/src/lib.rs
  crypto/crypto/src/hash.rs
Labels: cluster_test

#693 [dashboard] fix storage dashboard
  terraform/templates/dashboards/storage.json
Labels: storage

#696 [validator-sets] update validator-sets configs
  terraform/validator-sets/100/genesis.blob
  terraform/validator-sets/100/trusted_peers.config.toml
  terraform/validator-sets/60/genesis.blob
  terraform/validator-sets/60/trusted_peers.config.toml
  terraform/validator-sets/dev/genesis.blob
  terraform/validator-sets/dev/node.config.toml
  terraform/validator-sets/dev/trusted_peers.config.toml
Labels: dev-infra, release-engineering

#698 [cluster_test] Add dependencies to benchmark and debug_interface
  benchmark/Cargo.toml
  testsuite/cluster_test/Cargo.toml
Labels: cluster_test

#697 [fucntional_tests] fix publish modules with verifier disabled
  language/functional_tests/src/evaluator.rs
Labels: language

#748 [Storage] Jellyfish Merkle Iterator
  storage/jellyfish_merkle/src/iterator/iterator_test.rs
  storage/jellyfish_merkle/src/iterator/mod.rs
  storage/jellyfish_merkle/src/lib.rs
Labels: storage

#744 [network] Attempt dial all advertised listen addrs round robin
  network/src/connectivity_manager/mod.rs
  network/src/connectivity_manager/test.rs
Labels: bug, network

#757 [cluster_test] Better UX for deployment lifecycle
  testsuite/cluster_test/src/deployment.rs
  testsuite/cluster_test/src/main.rs
Labels: cluster_test

#642 Nit: remove redundant structure tag
  types/src/account_config.rs
Labels: cla

#770 [Consensus] Move vote_msg to consensus_types
  consensus/src/chained_bft/block_storage/block_store.rs
  consensus/src/chained_bft/block_storage/block_store_test.rs
  consensus/src/chained_bft/block_storage/block_tree.rs
  consensus/src/chained_bft/block_storage/mod.rs
  consensus/src/chained_bft/chained_bft_smr_test.rs
  consensus/src/chained_bft/consensus_types/block.rs
  consensus/src/chained_bft/consensus_types/mod.rs
  consensus/src/chained_bft/consensus_types/quorum_cert.rs
  consensus/src/chained_bft/consensus_types/sync_info.rs
  consensus/src/chained_bft/consensus_types/timeout_msg.rs
  consensus/src/chained_bft/consensus_types/vote_msg.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/proposal_generator_test.rs
  consensus/src/chained_bft/network.rs
  consensus/src/chained_bft/network_tests.rs
  consensus/src/chained_bft/proto_test.rs
  consensus/src/chained_bft/safety/mod.rs
Labels: consensus

#769 [cluster_test] Use intermediate tag for cluster_test validators
  testsuite/cluster_test/src/deployment.rs
  testsuite/cluster_test/src/main.rs
Labels: cluster_test

#774 [cluster_test] Build scripts
  docker/cluster_test/build.sh
  docker/cluster_test/cluster_test.Dockerfile
  docker/cluster_test/cluster_test_builder.Dockerfile
  docker/cluster_test/run.sh
Labels: cluster_test

#790 [storage] trivial: doc fix
  storage/libradb/src/schema/jellyfish_merkle_node/mod.rs
Labels: storage

#791 [storage] trivial: remove a unnecessary `#[allow(dead_code)]`
  storage/libradb/src/system_store/mod.rs
Labels: storage

#788 [Storage] Small improvements to Jellyfish Merkle Iterator
  storage/jellyfish_merkle/src/iterator/mod.rs
Labels: storage

#776 [network][discovery] Fix #587. Incl seed addrs in connmgr update
  network/src/protocols/discovery/mod.rs
  network/src/protocols/discovery/test.rs
Labels: bug, cluster_test, network

#792 [cluster_test] Add --prune-logs command to cleanup old log streams
  testsuite/cluster_test/Cargo.toml
  testsuite/cluster_test/src/lib.rs
  testsuite/cluster_test/src/log_prune.rs
  testsuite/cluster_test/src/main.rs
Labels: cluster_test

#795 [cluster_test] Minor improvements to --prune-logs
  testsuite/cluster_test/src/log_prune.rs
Labels: cluster_test

#752 [language] Rebuild the Move IR compiler
  config/data/configs/node.config.toml
  language/compiler/ir_to_bytecode/src/compiler.rs
  language/compiler/ir_to_bytecode/src/context.rs
  language/compiler/ir_to_bytecode/src/lib.rs
  language/compiler/src/lib.rs
  language/compiler/src/main.rs
  language/compiler/src/unit_tests/expression_tests.rs
  language/compiler/src/unit_tests/testutils.rs
  language/compiler/src/util.rs
  language/functional_tests/src/evaluator.rs
  language/functional_tests/tests/testsuite/commands/unpack_top_level.mvir
  language/functional_tests/tests/testsuite/expressions/cant_borrow_field_of_resource.mvir
  language/functional_tests/tests/testsuite/generics/builtins.mvir
  language/functional_tests/tests/testsuite/generics/call.mvir
  language/functional_tests/tests/testsuite/generics/pack.mvir
  language/functional_tests/tests/testsuite/generics/unpack.mvir
  language/functional_tests/tests/testsuite/modules/duplicate_field_name.mvir
  language/functional_tests/tests/testsuite/modules/get_resource_internal.mvir
  language/functional_tests/tests/testsuite/modules/has_resource_internal.mvir
  language/functional_tests/tests/testsuite/modules/modules_not_a_type.mvir
  language/functional_tests/tests/testsuite/modules/publish_resource_internal.mvir
  language/functional_tests/tests/testsuite/mutation/mint_money.mvir
  language/functional_tests/tests/testsuite/mutation/mutate_resource_holder_2.mvir
  language/stackless_bytecode/bytecode_to_boogie/src/main.rs
  language/stackless_bytecode/generator/tests/stack_elim_tests.rs
  language/stdlib/src/lib.rs
  language/vm/vm_genesis/genesis/genesis.blob
  language/vm/vm_genesis/src/lib.rs
  terraform/validator-sets/100/genesis.blob
  terraform/validator-sets/60/genesis.blob
  terraform/validator-sets/dev/genesis.blob
Labels: breaking-changes, language

#797 [storage] refine get_events_by_event_access_path
  client/src/client_proxy.rs
  storage/libradb/src/lib.rs
  storage/libradb/src/libradb_test.rs
  types/src/access_path.rs
  types/src/account_config.rs
  types/src/get_with_proof.rs
Labels: storage

#801 [storage] utilize `ContractEventGen` and `AccountInfoUniverse` in `Ev…
  storage/libradb/Cargo.toml
  storage/libradb/src/event_store/test.rs
  types/src/proptest_types.rs
Labels: storage
