Repository diem/diem, pull requests merged in 2019-09, with the labels that each got.

#463 [language] improve account parsing in functional tests
  language/functional_tests/src/config/global.rs
  language/functional_tests/src/config/transaction.rs
  language/functional_tests/src/tests/global_config_tests.rs
  language/functional_tests/src/tests/transaction_config_tests.rs
Labels: cla, language

#812 [language] Restrict character classes allowed in IR
  language/compiler/ir_to_bytecode/Cargo.toml
  language/compiler/ir_to_bytecode/src/parser.rs
Labels: move-ir-syntax-change

#826 Fix Typo
  language/compiler/ir_to_bytecode/syntax/src/syntax.lalrpop
Labels: language

#828 [Proof] Implement append_subtrees
  types/src/proof/accumulator/accumulator_test.rs
  types/src/proof/accumulator/mod.rs
  types/src/proof/position/mod.rs
  types/src/proof/position/position_test.rs
Labels: storage

#729 [terraform] Allow validator public IPs
  terraform/network.tf
  terraform/terraform.tfvars
  terraform/validators.tf
  terraform/variables.tf
Labels: dev-infra

#835 [storage] `TransactionStore::lookup_transaction_by_account()`
  storage/libradb/src/lib.rs
  storage/libradb/src/libradb_test.rs
  storage/libradb/src/schema/mod.rs
  storage/libradb/src/schema/transaction_by_account/mod.rs
  storage/libradb/src/schema/transaction_by_account/test.rs
  storage/libradb/src/transaction_store/mod.rs
  storage/libradb/src/transaction_store/test.rs
  types/src/proptest_types.rs
Labels: breaking, storage

#839 [storage] enable the pruner
  storage/libradb/src/lib.rs
Labels: storage

#803 [consensus] Introduce ExecutedBlock to refactor block_tree
  consensus/src/chained_bft/block_storage/block_store.rs
  consensus/src/chained_bft/block_storage/block_store_test.rs
  consensus/src/chained_bft/block_storage/block_tree.rs
  consensus/src/chained_bft/block_storage/mod.rs
  consensus/src/chained_bft/consensus_types/block.rs
  consensus/src/chained_bft/event_processor.rs
  consensus/src/chained_bft/event_processor_test.rs
  consensus/src/chained_bft/liveness/proposal_generator.rs
  consensus/src/chained_bft/safety/safety_rules.rs
  consensus/src/chained_bft/safety/safety_rules_test.rs
  consensus/src/state_replication.rs
Labels: consensus

#739 Add a formalized backend option to the crypto dependencies
  Cargo.lock
  crypto/crypto/Cargo.toml
Labels: crypto

#842 [benchmark] cleanup: change timeouts; remove prints and confusing names
  benchmark/src/bin/ruben.rs
  benchmark/src/grpc_helpers.rs
  benchmark/src/lib.rs
  benchmark/src/load_generator.rs
  benchmark/src/submit_rate.rs
Labels: benchmark

#762 [language/verifier] fix type & memory safety checks for generics
  language/bytecode_verifier/invalid_mutations/src/bounds.rs
  language/bytecode_verifier/src/resources.rs
  language/bytecode_verifier/src/type_memory_safety.rs
  language/functional_tests/tests/testsuite/generics/id_function.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/borrow_field.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/borrow_global.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/call.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/imm_borrow_field.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/move_from.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/pack.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/struct_non_nominal_resource.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/type_param_all.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/type_param_resource.mvir
  language/functional_tests/tests/testsuite/generics/resource_safety/unpack.mvir
  language/tools/test_generation/src/transitions.rs
  language/tools/test_generation/tests/struct_instructions.rs
  language/vm/src/errors.rs
  language/vm/src/file_format.rs
  language/vm/src/lib.rs
  language/vm/src/views.rs
  types/src/proto/vm_errors.proto
  types/src/vm_error.rs
Labels: enhancement, language

#833 [crypto] Invoke sha3-256 via our HashValue wrapper
  Cargo.lock
  client/libra_wallet/Cargo.toml
  client/libra_wallet/src/key_factory.rs
  crypto/crypto/src/hash.rs
  crypto/crypto/src/unit_tests/hash_test.rs
  language/e2e_tests/Cargo.toml
  language/e2e_tests/src/tests/verify_txn.rs
  language/vm/vm_genesis/Cargo.toml
  language/vm/vm_genesis/src/lib.rs
  language/vm/vm_runtime/Cargo.toml
  language/vm/vm_runtime/src/code_cache/script_cache.rs
  language/vm/vm_runtime/src/process_txn/validate.rs
  language/vm/vm_runtime/vm_runtime_types/src/native_functions/hash.rs
  types/src/account_address.rs
  types/src/event.rs
Labels: crypto, refactoring

#813 [VM][Verifier] Relaxed Ret rule. Now implicitly releases references
  language/bytecode_verifier/src/type_memory_safety.rs
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_bad4.mvir
  language/functional_tests/tests/testsuite/borrow_tests/borrow_global_good.mvir
  language/functional_tests/tests/testsuite/borrow_tests/return_with_borrowed_loc.mvir
  language/functional_tests/tests/testsuite/borrow_tests/return_with_borrowed_loc_invalid.mvir
  language/functional_tests/tests/testsuite/borrow_tests/return_with_borrowed_loc_resource_invalid.mvir
  language/functional_tests/tests/testsuite/commands/return_type_mismatch_and_unused_resource.mvir
Labels: language

#865 Add an optional field `next_validator_set` to LedgerInfo
  consensus/src/chained_bft/block_storage/block_store.rs
  consensus/src/chained_bft/block_storage/block_store_test.rs
  consensus/src/chained_bft/consensus_types/block.rs
  consensus/src/chained_bft/consensus_types/quorum_cert.rs
  consensus/src/chained_bft/test_utils/mod.rs
  execution/execution_tests/src/lib.rs
  execution/executor/src/executor_test.rs
  execution/executor/src/lib.rs
  state_synchronizer/src/tests.rs
  storage/libradb/src/ledger_store/ledger_info_test.rs
  storage/libradb/src/mock_genesis/mod.rs
  storage/libradb/src/test_helper.rs
  types/src/ledger_info.rs
  types/src/proof/unit_tests/proof_test.rs
  types/src/proto/ledger_info.proto
  types/src/validator_public_keys.rs
  types/src/validator_set.rs
Labels: consensus, storage

#876 [crypto] EdDSA remove small group R check
  crypto/crypto/src/ed25519.rs
Labels: crypto, enhancement

#894 [cluster_test] Ignore ImageExists error when tagging image
  testsuite/cluster_test/src/deployment.rs
Labels: cluster_test

#896 [cluster_test] Wipe db before deploy
  testsuite/cluster_test/src/deployment.rs
  testsuite/cluster_test/src/main.rs
Labels: cluster_test

#932 [state-sync] Adding timeout logic to peer scoring
  state_synchronizer/src/coordinator.rs
  state_synchronizer/src/peer_manager.rs
Labels: state-sync

#956 [Consensus][tiny] Cleanup some log lines
  consensus/src/chained_bft/event_processor.rs
Labels: consensus

#949 [state-sync] Additional invalid chunk logic for peer scoring
  state_synchronizer/src/coordinator.rs
  state_synchronizer/src/peer_manager.rs
Labels: state-sync

#953 [validator set] adding basic validator set generation
  language/functional_tests/tests/testsuite/validator_set/register_validator.mvir
  language/stdlib/modules/validator_set.mvir
  language/stdlib/src/stdlib.rs
  language/vm/vm_genesis/genesis/genesis.blob
  language/vm/vm_genesis/src/lib.rs
  language/vm/vm_runtime/src/txn_executor.rs
  terraform/validator-sets/100/genesis.blob
  terraform/validator-sets/60/genesis.blob
  terraform/validator-sets/dev/genesis.blob
  types/src/account_config.rs
Labels: breaking

#951 [state-sync] Use btreemap to store sync requests
  state_synchronizer/src/coordinator.rs
  state_synchronizer/src/peer_manager.rs
  state_synchronizer/src/tests/unit_tests.rs
Labels: state-sync
